apartment-reservations {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    &>*[type=card] {
        display: grid;
        background-color: $superwhite;
        padding: 20px;
        // gap: 8px;
        border-radius: 16px;

        .icon {
            width: 24px;
            height: 24px;
        }

        h6 {
            font-size: 16px;
            line-height: 125%;
            color: $black1;
            font-weight: 500;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &>*[type=line] {
            display: flex;
            justify-content: space-between;

            p {
                color: $grey4;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;

                &:last-of-type {
                    color: $blue3;
                }
            }
        }
    }
}