.policy {
    display: grid;
    gap: 32px;
    font-size: 14px;

    a {
        color: $blue;
    }

    ol,
    ul {
        font-weight: 400;
    }

    p {
        margin: 0;
    }

    &>ol {
        display: grid;
        gap: 16px;

        /*
        ol {
            counter-reset: item
        }

        li {
            display: block
        }

        li:before {
            content: counters(item, ".") ". ";
            counter-increment: item
        }
        */

        &>ol,
        &>ul {
            display: grid;
            gap: 8px;

            li {
                margin-left: -16px;
            }
        }

        &>li {
            font-weight: 500;
            font-size: 24px;
        }
    }
}