.window-bottom-buttons-container {
    display: grid;
    gap: 24px;
    z-index: 3;
    position: fixed;
    right: 48px;
    bottom: 24px;

    &>:last-child {
        margin-top: 48px;
        justify-self: end;
    }

    @include media-breakpoint-down(xl) {
        right: 40px;
    }

    @include media-breakpoint-down(lg) {
        &>:last-child {
            margin-top: 32px;
        }
    }

    @include media-breakpoint-down(md) {
        right: 12px;
        bottom: 96px;
    }
}

.up-button {
    border-radius: 50%;
    background: $grey3;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    z-index: 8;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s, opacity 0.2s;
    opacity: 0;
    pointer-events: none;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }

    .icon,
    .icon.d40x40 {
        width: 32px;
        height: 32px;
        transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    }

    &:hover {
        background-color: $grey4;
    }

    @include media-breakpoint-down(lg) {
        width: 40px;
        height: 40px;

        .icon,
        .icon.d40x40 {
            width: 24px;
            height: 24px;
        }
    }
}