.how-we-work {
    &.base-container {
        display: grid;
        width: fit-content;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        @include media-breakpoint-up(lg) {
            gap: 0px;
            grid-template-columns: 1fr 2fr;
        }
    }

    &.left-side {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 60%;
        }

        @include media-breakpoint-up(xl) {
            width: 80%;
        }

        @include media-breakpoint-up(xxl) {
            width: 100%;
        }
    }

    &.right-side {
        display: grid;
        gap: 16px;
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 100%;
        }

        @include media-breakpoint-up(xl) {
            width: 100%;
        }

        @include media-breakpoint-up(xxl) {
            width: 100%;
        }
    }

    &.section {
        display: flex;
        gap: 22px;

        @include media-breakpoint-up(sm) {
            gap: 34px;
        }

        @include media-breakpoint-up(md) {
            gap: 40px;
        }

        @include media-breakpoint-up(xl) {
            gap: 40px;
        }
    }

    &.section-left {
        width: 40px;
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    &.section-circle {
        border-radius: 50%;
        background-color: $white;
        display: grid;
        justify-content: center;
        align-items: center;
        min-width: 34px;
        min-height: 34px;
        width: 34px;
        height: 34px;
        font-size: 14px;

        @include media-breakpoint-up(xl) {
            font-size: 16px;
            min-width: 40px;
            min-height: 40px;
            width: 40px;
            height: 40px;
        }
    }

    &.section-line {
        height: 100%;
        align-self: center;
        background-color: $grey2;
        width: 2px;
    }

    &.section-right {
        display: grid;
        gap: 8px;
        height: fit-content;
        min-height: 84px;

        @include media-breakpoint-up(md) {
            gap: 12px;
        }

        @include media-breakpoint-up(xl) {
            gap: 16px;
        }
    }

    &.section-title {
        font-size: 18px;
        line-height: 34px;

        @include media-breakpoint-up(md) {
            font-size: 20px;
            line-height: 34px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &.section-description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: $grey4;
    }
}