/node_modules
/public/build
/public/hot
/public/storage
/public/css
/public/news
/public/complexes/*/galleries/
/public/galleries/
/public/complexes/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/building-infrastructure.json
/tmp
/.run
/*.tar
/*.sql
tests/Unit/Support/Data/dump.sql
resources/.DS_Store
