.real-estate-compilation {
    &.header {
        display: grid;
        gap: 32px;

        header {
            display: grid;
            gap: 24px;
            grid-template-columns: 1fr repeat(2, 260px);

            @include media-breakpoint-down(lg) {
                display: flex;
                flex-wrap: wrap;
                justify-content: end;

                .dropdown-with-title {
                    width: 260px;
                }
            }

            @include media-breakpoint-down(md) {
                display: grid;
                justify-content: initial;
                grid-template-columns: 1fr;

                .dropdown-with-title {
                    width: initial;
                }
            }

            h4 {
                font-size: 16px;
                line-height: 140%;
                color: $black1;

                @include media-breakpoint-down(lg) {
                    flex: 1;
                    min-width: 100%;
                }

                @include media-breakpoint-down(md) {
                    min-width: initial;
                }
            }
        }

        buttons-grid {
            outline: none;
            padding: 0;
            width: fit-content;
            gap: 8px;

            button {
                background-color: $superwhite;
                outline: 1px solid $grey2;
                padding: 4px 16px;
                font-weight: 500;
                font-size: 14px;
                border-radius: 8px;

                &[selected=true] {
                    background-color: $orange1;
                    outline: 1px solid $orange1;
                }
            }
        }
    }

}