.search-bar {
    &.base-container {
        background-color: $white-with-opacity;
        border: 1.5px solid $grey4;
        border-radius: 16px;
        display: flex;
        gap: 12px;
        padding: 8px 12px;
        z-index: 5;
        justify-content: space-between;

        @include media-breakpoint-up(lg) {

            &>.common-button,
            .input-fieldset {
                display: none;
            }
        }

        @include media-breakpoint-down(lg) {
            display: grid;
            gap: 32px;
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    &.text-search {
        width: 100%;
        position: relative;
        border-radius: 12px;
        outline: 1px solid transparent;
        padding: 8px 12px;
        max-height: 40px;
        display: grid;
        grid-template-columns: auto minmax(0, 1fr) auto;
        gap: 8px;
        row-gap: 16px;
        align-items: center;
        justify-content: start;
        flex-wrap: nowrap;

        input {
            border: none;
            border-radius: none;
            font-size: 14px;
            margin-right: 0;
            padding-right: 0;
            background-color: inherit;

            &:focus {
                outline: none;
            }
        }

        &.small {
            outline-color: $grey2;
            border-radius: 24px;
            max-height: 48px;
            padding-left: 20px;
            padding-right: 20px;

            @include media-breakpoint-down(lg) {
                display: grid;
            }
        }

        &.selected {
            // width: 100%;
            outline-color: $blue;
            // grid-template-columns: auto 1fr auto;
        }

        .custom-dropdown.base-container {
            padding: 0;
        }

        &>.icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }
}
