.company {
    &.photo-header {
        display: grid;
        gap: 24px;
        padding: 44px 32px;
        justify-self: center;
        align-self: center;
        background-position: center 72%;
        background-size: cover;
        border-radius: 44px;

        @include media-breakpoint-up(md) {
            padding-bottom: 108px;
        }

        @include media-breakpoint-up(lg) {
            gap: 32px;
            padding-bottom: 0;
            padding-right: 24px;
        }

        @include media-breakpoint-up(xl) {
            gap: 80px;
            padding-right: 32px;
        }
    }

    &.header-title-container {
        display: grid;
        gap: 44px;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 2fr;
            gap: 120px;
        }
    }

    &.header-title {
        font-size: 20px;

        @include media-breakpoint-up(lg) {
            font-size: 34px;
        }
    }

    &.header-text {
        font-size: 14px;
        font-weight: 400;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 124px;
        }

        &.large {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &.small {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }

    &.header-cards {
        &.container {
            display: grid;
            gap: 16px;
            position: relative;

            @include media-breakpoint-down(lg) {
                display: none;
            }

            @include media-breakpoint-up(md) {
                justify-self: center;
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                transform: translateY(0%);
                top: 50%;
                display: flex;
                gap: 24px;
            }

            @include media-breakpoint-up(xl) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            @include media-breakpoint-up(xl) {
                gap: 32px;
            }

            &.small {
                display: grid;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        &.card {
            background-color: $superwhite;
            border-radius: 24px;
            display: flex;
            gap: 16px;
            padding: 24px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &>.icon {
            width: 44px;
            height: 44px;

            @include media-breakpoint-up(md) {
                width: 48px;
                height: 48px;
            }

            @include media-breakpoint-up(xl) {
                width: 60px;
                height: 60px;
            }
        }

        &.text {
            display: grid;
            font-size: 14px;
            font-weight: 400;
            color: $grey3;
            gap: 4px;

            @include media-breakpoint-up(lg) {
                width: min-content;
            }

            @include media-breakpoint-up(xl) {
                width: max-content;
            }
        }

        &.title {
            font-size: 24px;
            font-weight: 500;
            color: $black1;
        }
    }

    &.top-half {
        display: grid;
        gap: 32px;

        @include media-breakpoint-up(lg) {
            gap: 136px;
            padding-bottom: 40px;
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: 56px;
        }

        @include media-breakpoint-up(xxl) {
            padding-bottom: 72px;
        }
    }

    &.description {
        display: grid;
        gap: 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        @include media-breakpoint-up(xxl) {
            padding-bottom: 16px;
        }
    }

    &.about {
        &.title {
            font-size: 16px;
            line-height: 26px;

            @include media-breakpoint-up(md) {
                font-size: 24px;
                line-height: 34px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 36px;
                line-height: 48px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 40px;
                line-height: 50px;
            }

            &.link {
                color: $grey3;
                text-decoration: none;
            }
        }

        &.container {
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            @include media-breakpoint-up(md) {
                width: 75%;
                gap: 40px;
            }

            @include media-breakpoint-up(xl) {
                gap: 80px;
            }
        }
    }

    &.info {
        &.container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 24px;
            row-gap: 24px;
            padding-right: 10%;

            @include media-breakpoint-up(md) {
                grid-template-columns: 25vw 25vw;
                column-gap: 32px;
                row-gap: 48px;
            }

            @include media-breakpoint-up(xl) {
                grid-template-columns: 20vw 20vw;
                column-gap: 40px;
                row-gap: 64px;
            }
        }

        &.unit {
            display: grid;
            height: fit-content;
            gap: 12px;

            @include media-breakpoint-up(md) {
                gap: 16px;
            }
        }

        &.title {
            font-size: 14px;
            line-height: 20px;

            @include media-breakpoint-up(md) {
                font-size: 16px;
                line-height: 24px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        &.value {
            font-size: 20px;

            @include media-breakpoint-up(md) {
                font-size: 28px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 56px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 72px;
            }
        }
    }

    &.our-workers {
        &.container {
            display: grid;
            gap: 24px;

            @include media-breakpoint-up(lg) {
                gap: 32px;
            }

            @include media-breakpoint-up(xxl) {
                padding-bottom: 16px;
            }
        }

        &.grid {
            display: grid;
            gap: 24px;

            @include media-breakpoint-up(lg) {
                gap: 32px;
            }
        }

        &.big-grid {
            display: none;
            gap: 32px;

            @include media-breakpoint-up(xl) {
                display: grid;
            }
        }

        &.small-grid {
            display: grid;
            gap: 24px;

            @include media-breakpoint-up(lg) {
                gap: 32px;
            }

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        &.header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 16px;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }

        &.title {
            font-size: 36px;
            line-height: 44px;

            @include media-breakpoint-up(md) {
                width: 40%;
            }

            @include media-breakpoint-up(lg) {
                font-size: 48px;
                line-height: 56px;
            }

            @include media-breakpoint-up(xl) {
                width: 60%;
                font-size: 56px;
                line-height: 64px;
            }
        }

        &.description {
            font-size: 18px;
            line-height: 28px;

            @include media-breakpoint-up(md) {
                width: 60%;
            }

            @include media-breakpoint-up(lg) {
                font-size: 20px;
                line-height: 30px;
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                width: 40%;
                font-size: 28px;
                line-height: 40px;
            }
        }

        &.workers {
            display: grid;
            height: fit-content;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(4, 1fr);
                gap: 24px;
            }

            @include media-breakpoint-up(lg) {
                gap: 32px;
            }

            @include media-breakpoint-up(xl) {
                grid-template-columns: repeat(5, 1fr);
            }
        }

        &.worker {
            &.container {
                display: flex;
                gap: 16px;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                justify-content: space-between;
                flex-direction: column;
            }

            &.photo-container {
                width: inherit;
                height: inherit;
            }

            &.photo {
                border-color: $grey0;
                border-radius: 24px;
                border-width: 3px;
                width: inherit;
                height: inherit;
                object-fit: cover;

                @include media-breakpoint-up(md) {
                    border-radius: 32px;
                }

                &.first {
                    display: block;
                }

                &.second {
                    display: none;
                }
            }

            &.photo-container:hover {
                &>.photo {
                    transition: opacity 0.3s;

                    &.first {
                        display: none;
                    }

                    &.second {
                        display: block;
                    }
                }
            }

            &.name {
                font-size: 14px;
            }

            &.position {
                font-size: 14px;
                color: $grey3;
                font-weight: 400;
            }
        }

        &.tabs {
            display: flex;
            gap: 16px;

            @include media-breakpoint-up(md) {
                gap: 12px;
            }

            &>.tab {
                font-size: 12px;
                font-weight: 400;

                @include media-breakpoint-up(md) {
                    font-size: 16px;
                }
            }
        }
    }

    &.amenities {
        display: grid;
        gap: 16px;

        @include media-breakpoint-up(md) {
            gap: 24px;
        }

        @include media-breakpoint-up(xl) {
            gap: 32px;
        }

        &.left-grid {
            display: grid;
            gap: 32px;
            grid-template-rows: repeat(2, 1fr);
        }

        &.main-grid {
            grid-template-rows: 1fr 2fr;
            gap: 8px;

            @include media-breakpoint-up(md) {
                gap: 12px;
            }

            @include media-breakpoint-up(xl) {
                gap: 16px;
            }
        }

        &.first-row {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: min-content;
            }
        }

        &.second-row {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &.grid {
            @include media-breakpoint-up(md) {
                grid-template-columns: 3fr 1fr;
            }
        }

        &.last-row {
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-up(lg) {
                grid-template-columns: 5fr 3fr;
            }
        }
    }

    &.amenity-card {
        &.card {
            border-radius: 24px;
            padding: 24px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            height: 100%;

            @include media-breakpoint-up(lg) {
                padding: 32px;
            }

            @include media-breakpoint-up(xl) {}

            @include media-breakpoint-up(md) {
                border-radius: 32px;
            }

            &.img {
                background-size: cover;
                background-position: center;
                display: grid;
                align-items: end;
                height: 100px;

                @include media-breakpoint-up(md) {
                    height: 240px;
                }

                @include media-breakpoint-up(lg) {
                    background-position: center 30%;
                    height: 260px;
                }

                @include media-breakpoint-up(xl) {
                    height: 300px;
                }

                &.small {
                    background-size: 250% 140%;
                    background-position: 70% bottom;

                    @include media-breakpoint-up(lg) {
                        background-size: 100% 300%;
                        background-position: center 73%;
                    }
                }
            }

            &.white {
                background-color: $superwhite;
                height: 100%;

                &.centered {
                    display: grid;
                    align-items: center;
                }
            }
        }

        &.white-text {
            font-size: 20px;
            color: $white;
            align-self: end;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            }
        }

        &.black-text {
            font-size: 24px;

            @include media-breakpoint-up(lg) {
                align-self: end;
            }

        }

        &.container-with-img {
            display: grid;
            gap: 24px;
            display: flex;

            @include media-breakpoint-up(md) {
                display: grid;
            }

            &.centered {
                display: grid;
                align-items: center;
            }

            img {
                object-fit: cover;
            }

            &>.icon {
                width: 48px;
                height: 48px;
                min-width: 48px;
                min-height: 48px;

                @include media-breakpoint-up(lg) {
                    width: 64px;
                    height: 64px;
                    min-width: 64px;
                    min-height: 64px;
                }
            }
        }

        &.title {
            font-size: 20px;
            color: $black1;
            padding: 0;
            font-weight: 500;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            }
        }

        &.text {
            font-size: 14px;
            font-weight: 400;
            color: $grey3;
            padding: 0;
            display: grid;
            gap: 4px;
        }

        &.shadow {
            width: inherit;
            height: inherit;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent 40%);
            border-radius: inherit;
            margin: -24px;
            padding: 24px;
            display: grid;

            @include media-breakpoint-up(md) {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent 40%);
            }

            @include media-breakpoint-up(lg) {
                margin: -32px;
                padding: 32px;
            }
        }
    }

    &.building {
        background-image: url('../assets/content/content-building.svg');
        background-size: cover;

        img {
            object-fit: cover;
            size: inherit;

            @include media-breakpoint-up(md) {
                width: 136px;
            }

            @include media-breakpoint-up(lg) {
                width: 180px;
            }

            @include media-breakpoint-up(xl) {
                width: auto;
            }
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &.prices-small {
        background-image: url('../assets/content/content-prices.svg');
        width: 60px;
        height: 60px;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &.line {
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

        &.big {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &.small {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        &.xl {
            display: none;

            @include media-breakpoint-up(xl) {
                display: block;
            }
        }
    }

    &.pagination-grid {
        display: flex;
        justify-content: space-between;

        &>.common-button {
            border-radius: 16px;
            font-weight: 400;
            display: none;

            @include media-breakpoint-up(md) {
                display: grid;
            }
        }
    }
}