.agent {
    &.filters {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        gap: 16px;

        custom-select {
            outline-color: $grey3;
            background-color: $white;

            &:focus,
            &:focus-visible {
                outline-color: $orange1;
            }

            input {
                color: $grey5;
            }

            .selected-counter {
                display: none;
            }

            ul[is=option-list] {
                background-color: inherit;

                li[is=custom-option] {
                    &:hover {
                        background-color: $grey1;

                        &[selected=true] {
                            background-color: $grey2;
                        }
                    }
                }
            }
        }
    }
}