.icon {
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $white;
    width: 100%;
    height: 100%;
    transition: rotate 0.2s;

    &.arrow-tailless {
        -webkit-mask-image: url(../assets/base/arrow-tailless.svg);
        mask-image: url(../assets/base/arrow-tailless.svg);
    }

    &.telegram {
        -webkit-mask-image: url(../assets/social-media/telegram.svg);
        mask-image: url(../assets/social-media/telegram.svg);
    }

    &.whatsapp {
        -webkit-mask-image: url(../assets/social-media/whatsapp.svg);
        mask-image: url(../assets/social-media/whatsapp.svg);
    }

    &.phone {
        -webkit-mask-image: url(../assets/social-media/phone.svg);
        mask-image: url(../assets/social-media/phone.svg);
    }

    &.telegram-transparent {
        -webkit-mask-image: url(../assets/social-media/telegram-transparent.svg);
        mask-image: url(../assets/social-media/telegram-transparent.svg);
    }

    &.whatsapp-transparent {
        -webkit-mask-image: url(../assets/social-media/whatsapp-transparent.svg);
        mask-image: url(../assets/social-media/whatsapp-transparent.svg);
    }

    &.link-transparent {
        -webkit-mask-image: url(../assets/social-media/link-transparent.svg);
        mask-image: url(../assets/social-media/link-transparent.svg);
    }

    &.arrow-left {
        -webkit-mask-image: url(../assets/arrows/arrow-left.svg);
        mask-image: url(../assets/arrows/arrow-left.svg);
    }

    &.arrow-right {
        -webkit-mask-image: url(../assets/arrows/arrow-right.svg);
        mask-image: url(../assets/arrows/arrow-right.svg);
    }

    &.arrow-up {
        -webkit-mask-image: url(../assets/arrows/arrow-chevron-up.svg);
        mask-image: url(../assets/arrows/arrow-chevron-up.svg);
    }

    &.arrow-down {
        -webkit-mask-image: url(../assets/arrows/arrow-chevron-down.svg);
        mask-image: url(../assets/arrows/arrow-chevron-down.svg);
    }

    &.arrow-left-up {
        -webkit-mask-image: url(../assets/arrows/arrow-aside-up.svg);
        mask-image: url(../assets/arrows/arrow-aside-up.svg);
    }

    &.arrow-left-down {
        -webkit-mask-image: url(../assets/arrows/arrow-aside-down.svg);
        mask-image: url(../assets/arrows/arrow-aside-down.svg);
    }

    &.arrow-double {
        -webkit-mask-image: url(../assets/arrows/arrow-double.svg);
        mask-image: url(../assets/arrows/arrow-double.svg);
    }

    &.content-book {
        -webkit-mask-image: url(../assets/content/content-book.svg);
        mask-image: url(../assets/content/content-book.svg);
    }

    &.content-children {
        -webkit-mask-image: url(../assets/content/content-children.svg);
        mask-image: url(../assets/content/content-children.svg);
    }

    &.content-dumbbell {
        -webkit-mask-image: url(../assets/content/content-dumbbell.svg);
        mask-image: url(../assets/content/content-dumbbell.svg);
    }

    &.content-hospital {
        -webkit-mask-image: url(../assets/content/content-hospital.svg);
        mask-image: url(../assets/content/content-hospital.svg);
    }

    &.content-location {
        -webkit-mask-image: url(../assets/content/content-location.svg);
        mask-image: url(../assets/content/content-location.svg);
    }

    &.content-map {
        -webkit-mask-image: url(../assets/content/content-map.svg);
        mask-image: url(../assets/content/content-map.svg);
    }

    &.content-metro {
        -webkit-mask-image: url(../assets/content/content-metro.svg);
        mask-image: url(../assets/content/content-metro.svg);
    }

    &.content-shop {
        -webkit-mask-image: url(../assets/content/content-shop.svg);
        mask-image: url(../assets/content/content-shop.svg);
    }

    &.content-table {
        -webkit-mask-image: url(../assets/content/content-table.svg);
        mask-image: url(../assets/content/content-table.svg);
    }

    &.content-tree {
        -webkit-mask-image: url(../assets/content/content-tree.svg);
        mask-image: url(../assets/content/content-tree.svg);
    }

    &.content-binoculars {
        -webkit-mask-image: url(../assets/content/content-binoculars.svg);
        mask-image: url(../assets/content/content-binoculars.svg);
    }

    &.content-chart {
        -webkit-mask-image: url(../assets/content/content-chart.svg);
        mask-image: url(../assets/content/content-chart.svg);
    }

    &.content-like {
        -webkit-mask-image: url(../assets/content/content-like.svg);
        mask-image: url(../assets/content/content-like.svg);
    }

    &.content-smile {
        -webkit-mask-image: url(../assets/content/content-smile.svg);
        mask-image: url(../assets/content/content-smile.svg);
    }

    &.content-plan {
        -webkit-mask-image: url(../assets/content/content-plan.svg);
        mask-image: url(../assets/content/content-plan.svg);
    }

    &.content-bank {
        -webkit-mask-image: url(../assets/content/content-bank.svg);
        mask-image: url(../assets/content/content-bank.svg);
    }

    &.content-house {
        -webkit-mask-image: url(../assets/content/content-house.svg);
        mask-image: url(../assets/content/content-house.svg);
    }

    &.content-worker {
        -webkit-mask-image: url(../assets/content/content-worker.svg);
        mask-image: url(../assets/content/content-worker.svg);
    }

    &.check {
        -webkit-mask-image: url(../assets/base/check.svg);
        mask-image: url(../assets/base/check.svg);
    }

    &.burger {
        -webkit-mask-image: url(../assets/base/burger.svg);
        mask-image: url(../assets/base/burger.svg);
    }

    &.exit {
        -webkit-mask-image: url(../assets/base/exit.svg);
        mask-image: url(../assets/base/exit.svg);
    }

    &.profile {
        -webkit-mask-image: url(../assets/base/profile.svg);
        mask-image: url(../assets/base/profile.svg);
    }

    &.settings {
        -webkit-mask-image: url(../assets/base/settings.svg);
        mask-image: url(../assets/base/settings.svg);
    }

    &.filters-button {
        -webkit-mask-image: url(../assets/base/filters.svg);
        mask-image: url(../assets/base/filters.svg);
    }

    &.action-close {
        -webkit-mask-image: url(../assets/actions/action-close.svg);
        mask-image: url(../assets/actions/action-close.svg);
    }

    &.action-close-2 {
        -webkit-mask-image: url(../assets/actions/action-close-2.svg);
        mask-image: url(../assets/actions/action-close-2.svg);
    }

    &.action-delete {
        -webkit-mask-image: url(../assets/actions/action-delete.svg);
        mask-image: url(../assets/actions/action-delete.svg);
    }

    &.action-download {
        -webkit-mask-image: url(../assets/actions/action-download.svg);
        mask-image: url(../assets/actions/action-download.svg);
    }

    &.action-minus {
        -webkit-mask-image: url(../assets/actions/action-minus.svg);
        mask-image: url(../assets/actions/action-minus.svg);
    }

    &.action-plus {
        -webkit-mask-image: url(../assets/actions/action-plus.svg);
        mask-image: url(../assets/actions/action-plus.svg);
    }

    &.action-like {
        -webkit-mask-image: url(../assets/actions/action-like.svg);
        mask-image: url(../assets/actions/action-like.svg);
    }

    &.action-like-filled {
        -webkit-mask-image: url(../assets/actions/action-like-filled.svg);
        mask-image: url(../assets/actions/action-like-filled.svg);
    }

    &.trusted-award {
        -webkit-mask-image: url(../assets/trusted/success.svg);
        mask-image: url(../assets/trusted/success.svg);
    }

    &.trusted-database {
        -webkit-mask-image: url(../assets/trusted/base.svg);
        mask-image: url(../assets/trusted/base.svg);
    }

    &.trusted-clients {
        -webkit-mask-image: url(../assets/trusted/hand.svg);
        mask-image: url(../assets/trusted/hand.svg);
    }

    &.trusted-calls {
        -webkit-mask-image: url(../assets/trusted/phone.svg);
        mask-image: url(../assets/trusted/phone.svg);
    }

    &.trusted-employees {
        -webkit-mask-image: url(../assets/trusted/people.svg);
        mask-image: url(../assets/trusted/people.svg);
    }

    &.trusted-cup {
        -webkit-mask-image: url(../assets/trusted/target.svg);
        mask-image: url(../assets/trusted/target.svg);
    }

    &.action-search {
        -webkit-mask-image: url(..assets/actions/action-search.svg);
        mask-image: url(../assets/actions/action-search.svg);
    }

    &.action-share-grey {
        -webkit-mask-image: url(../assets/actions/action-share-grey.svg);
        mask-image: url(../assets/actions/action-share-grey.svg);
        background-color: $grey5;
    }

    &.action-share-light {
        -webkit-mask-image: url(../assets/actions/action-share-light.svg);
        mask-image: url(../assets/actions/action-share-light.svg);
    }

    &.action-share-link {
        -webkit-mask-image: url(../assets/actions/action-share-link.svg);
        mask-image: url(../assets/actions/action-share-link.svg);
    }

    &.action-compare {
        -webkit-mask-image: url(../assets/actions/action-compare.svg);
        mask-image: url(../assets/actions/action-compare.svg);
    }

    &.car {
        -webkit-mask-image: url(../assets/car.svg);
        mask-image: url(../assets/car.svg);
    }

    &.people {
        -webkit-mask-image: url(../assets/people.svg);
        mask-image: url(../assets/people.svg);
    }

    &.restore {
        -webkit-mask-image: url(../assets/restore.svg);
        mask-image: url(../assets/restore.svg);
    }

    &.trash {
        -webkit-mask-image: url(../assets/trash.svg);
        mask-image: url(../assets/trash.svg);
    }

    &.map {
        -webkit-mask-image: url(../assets/place.svg);
        mask-image: url(../assets/place.svg);
    }

    &.paper-map {
        -webkit-mask-image: url(../assets/map.svg);
        mask-image: url(../assets/map.svg);
    }

    &.more {
        -webkit-mask-image: url(../assets/base/more.svg);
        mask-image: url(../assets/base/more.svg);
    }

    &.home {
        -webkit-mask-image: url(../assets/base/home.svg);
        mask-image: url(../assets/base/home.svg);
    }

    &.buildings {
        -webkit-mask-image: url(../assets/base/buildings.svg);
        mask-image: url(../assets/base/buildings.svg);
    }

    &.search-building {
        -webkit-mask-image: url(../assets/search/search-building.svg);
        mask-image: url(../assets/search/search-building.svg);
    }

    &.search-builder {
        -webkit-mask-image: url(../assets/search/search-builder.svg);
        mask-image: url(../assets/search/search-builder.svg);
    }

    &.search-location {
        -webkit-mask-image: url(../assets/search/search-location.svg);
        mask-image: url(../assets/search/search-location.svg);
    }

    &.search-metro {
        -webkit-mask-image: url(../assets/search/search-metro.svg);
        mask-image: url(../assets/search/search-metro.svg);
    }

    &.search-street {
        -webkit-mask-image: url(../assets/search/search-street.svg);
        mask-image: url(../assets/search/search-street.svg);
    }

    &.sorting {
        -webkit-mask-image: url(../assets/sorting-icon.svg);
        mask-image: url(../assets/sorting-icon.svg);
    }

    &.place {
        -webkit-mask-image: url(../assets/place.svg);
        mask-image: url(../assets/place.svg);
    }

    &.compare-black {
        -webkit-mask-image: url(../assets/compare-black.svg);
        mask-image: url(../assets/compare-black.svg);
    }

    &.content-bank {
        -webkit-mask-image: url(../assets/content/content-bank.svg);
        mask-image: url(../assets/content/content-bank.svg);
    }

    &.content-house {
        -webkit-mask-image: url(../assets/content/content-house.svg);
        mask-image: url(../assets/content/content-house.svg);
    }

    &.content-worker {
        -webkit-mask-image: url(../assets/content/content-worker.svg);
        mask-image: url(../assets/content/content-worker.svg);
    }

    &.content-smile {
        -webkit-mask-image: url(../assets/content/content-smile.svg);
        mask-image: url(../assets/content/content-smile.svg);
    }

    &.content-discount {
        -webkit-mask-image: url(../assets/content/content-discount.svg);
        mask-image: url(../assets/content/content-discount.svg);
    }

    &.content-excursion {
        -webkit-mask-image: url(../assets/content/content-excursion.svg);
        mask-image: url(../assets/content/content-excursion.svg);
    }

    &.content-prices {
        -webkit-mask-image: url(../assets/content/content-prices.svg);
        mask-image: url(../assets/content/content-prices.svg);
    }

    &.content-phone {
        -webkit-mask-image: url(../assets/content/content-phone.svg);
        mask-image: url(../assets/content/content-phone.svg);
    }

    &.content-time {
        -webkit-mask-image: url(../assets/content/content-time.svg);
        mask-image: url(../assets/content/content-time.svg);
    }

    &.arrow-chevron-right {
        -webkit-mask-image: url(../assets/arrows/arrow-chevron-right.svg);
        mask-image: url(../assets/arrows/arrow-chevron-right.svg);
    }

    &.content-price-dynamic {
        -webkit-mask-image: url(../assets/content/content-price-dynamic.svg);
        mask-image: url(../assets/content/content-price-dynamic.svg);
    }

    &.checkbox-check {
        -webkit-mask-image: url(../assets/checkbox-check.svg);
        mask-image: url(../assets/checkbox-check.svg);
    }

    &.rotated {
        transform: rotate(180deg);
    }

    &.content-triangle {
        -webkit-mask-image: url(../assets/content/content-triangle.svg);
        mask-image: url(../assets/content/content-triangle.svg);
    }

    &.price-point {
        border-radius: 50%;
        margin: 0 6px;
        align-self: center;
        width: 8px;
        height: 8px;
    }

    &.chat-attachment {
        -webkit-mask-image: url(../assets/chat/attachment.svg);
        mask-image: url(../assets/chat/attachment.svg);
    }

    &.chat-more {
        -webkit-mask-image: url(../assets/chat/more.svg);
        mask-image: url(../assets/chat/more.svg);
    }

    &.chat-button {
        -webkit-mask-image: url(../assets/chat/chat.svg);
        mask-image: url(../assets/chat/chat.svg);
        transform: translateY(1px);
    }

    &.wallet {
        -webkit-mask-image: url(../assets/mortgage/wallet.svg);
        mask-image: url(../assets/mortgage/wallet.svg);
    }

    &.calendar {
        -webkit-mask-image: url(../assets/mortgage/calendar.svg);
        mask-image: url(../assets/mortgage/calendar.svg);
    }

    &.house {
        -webkit-mask-image: url(../assets/mortgage/house.svg);
        mask-image: url(../assets/mortgage/house.svg);
    }

    &.info {
        -webkit-mask-image: url(../assets/mortgage/info.svg);
        mask-image: url(../assets/mortgage/info.svg);
    }

    &.error {
        background-image: url(../assets/content/content-error.svg);
        border-radius: 50%;
        background-position: center;
    }

    &.reservation-request {
        mask-image: url(../assets/reservations/request.svg);
    }

    &.reservation-relevant {
        mask-image: url(../assets/reservations/relevant.svg);
    }

    &.reservation-running-out {
        mask-image: url(../assets/reservations/running-out.svg);
    }

    &.reservation-file {
        mask-image: url(../assets/reservations/file.svg);
    }

    &.metro-red {
        background-image: url(../assets/metro/metro-red.svg);
        background-size: cover;
        border-radius: 50%;
    }

    &.new-request {
        mask-image: url(../assets/agent/new-request.svg);
    }

    &.download {
        mask-image: url(../assets/download.svg);
    }

    &.navigation {
        mask-image: url(../assets/navigation.svg);
    }
}