$white: #F4F4F1;
$superwhite: #FFFFFF;
$black1: #171718;
$black1-half-transparent: #17171888;
$grey0: #E9E9E9;
$grey1: #E4E4E4;
$grey2: #D2D2D2;
$grey3: #9E9E9E;
$grey4: #818181;
$grey5: #494949;
$grey6: #F2F2F2;
$blue: #0436B6;
$blue2: #315FD8;
$blue3: #2F80ED;
$white-with-opacity: rgba(244, 244, 241, 0.85);
$green: #4A8457;
$green-light: #639C70;
$whatsapp: #56B554;
$whatsapp-hover: #56B554;
$status-tab: #CDF3AF;
$status-tab-text: #4B5A3F;
$red: #F13131;

$orange1: #EC7D3F;
$orange2: #D05D1D;
$error: $red;

$infra-icon-metro: #E77308;
$infra-icon-school: #3AA5F2;
$infra-icon-kindergarden: #EC7D3F;
$infra-icon-park: #6FA346;
$infra-icon-shop: #FEB702;
$infra-icon-sport: #006C0B;
$infra-icon-health: #FD0000;

$metro-yellow: #D5CD23;
$metro-green: #1FB451;
$metro-blue: #1F7EB4;
$metro-orange: #E29C33;
$metro-red: #F71E2E;
$metro-violet: #BF42EB;