.auth-popup {
    font-weight: 400;

    &.background {
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 15;
        display: none;
    }

    &.base-container {
        border-radius: 32px;
        background-color: $superwhite;
        padding: 32px;
        gap: 24px;
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &.header {
        display: grid;
        justify-content: space-between;
        width: 100%;
        grid-template-columns: 1fr auto;
    }

    &.title {
        font-size: 16px;
        font-weight: 500;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }

    &.description {
        font-size: 14px;
        line-height: 22px;
        color: $grey4;
    }

    &.code-recieve {
        display: grid;
        gap: 12px;
    }

    &.form {
        display: inherit;
        gap: inherit;
        border-color: $grey4;

        &>input,
        &>.code-recieve>.common-button {
            width: 100%;
            font-size: 14px;
            height: 56px;
            font-weight: 400;
        }

        input {
            font-weight: 400;

            &[type=tel]:focus {
                border-color: $blue;
                color: $blue;
            }
        }

        //Плохо выглядит на окошке авторизации. Раскомментировать когда узнаем где именно это надо
        /*
        fieldset {
            height: 64px;
            &>.input-wrapper {
                &>.icon {
                    margin-top: 6px;
                }
            }
        }*/

        .input-text {
            padding-top: 8px;
        }

        .peinag.container {
            align-items: start;
        }

        .peinag.description {
            color: $grey4;
        }
    }

    &.close {
        background-color: $white;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .icon {
            background-color: $orange1;
            width: 16px;
            height: 16px;
        }
    }
}