.expanded-building-cards {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        background-color: $white;
        border-radius: 32px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.description-container {
        display: grid;
        gap: 8px;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 16px;
        padding-top: 0px;
        height: 100%;

        @include media-breakpoint-up(xl) {
            gap: 12px;
        }

        &.blur {
            filter: blur(5px);
            pointer-events: none;
        }

        .common-button {
            align-self: end;
        }
    }
}