.learn-sale-card {
    background-color: $grey0;
    padding: 32px;
    padding-bottom: 8px;
    border-radius: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-content: space-between;

    .common-button {
        margin: 0 -32px;
        width: calc(100% + 48px);
        border: none;
    }

    .arrow-button {
        background-color: $white;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;

        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &.text {
        font-size: 28px;
        line-height: 32px;
        margin: 0;
        padding: 0;
        flex: 1;

        @include media-breakpoint-down(md) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    @include media-breakpoint-down(md) {
        .space {
            width: 64px;
            height: 64px;
            min-width: 64px;
            min-height: 64px;
        }
    }
}

.space {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;

    @include media-breakpoint-up(xl) {
        width: 64px;
        height: 64px;
        min-width: 64px;
        min-height: 64px;
    }
}