.banks {
    &.container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4px;

        @include media-breakpoint-up(sm) {
            gap: 8px;
        }

        @include media-breakpoint-up(lg) {
            gap: 20px;
        }

        @include media-breakpoint-up(xxl) {
            gap: 24px;
        }
    }

    .card-with-icon {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: $grey0;
        position: relative;
        grid-column: auto / span 2;
        border-radius: 16px;
        aspect-ratio: 12 / 10;

        &>.bank-icons {
            background-size: 80%;

            &:hover {
                background-size: 80%;
            }
        }

        &>.dom {
            background-size: 40%;

            &:hover {
                background-size: 40%;
            }
        }

        @include media-breakpoint-up(sm) {
            aspect-ratio: 1375 / 1000;
        }

        @include media-breakpoint-up(md) {
            &>.bank-icons {
                background-size: 40%;

                &:hover {
                    background-size: 40%;
                }
            }

            &>.dom {
                background-size: 35%;

                &:hover {
                    background-size: 35%;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            border-radius: 32px;
            aspect-ratio: 1285 / 1000;
        }

        @include media-breakpoint-up(xl) {
            border-radius: 40px;
            aspect-ratio: 1687 / 1000;
        }

        @include media-breakpoint-up(xxl) {
            aspect-ratio: 2 / 1;
        }
    }

    &.card-with-icon:nth-child(5n-1) {
        grid-column: auto / span 3;
        aspect-ratio: 14 / 8;

        @include media-breakpoint-up(sm) {
            aspect-ratio: 2125 / 1000;
        }

        @include media-breakpoint-up(lg) {
            aspect-ratio: 207 / 100;
        }

        @include media-breakpoint-up(xl) {
            aspect-ratio: 2625 / 1000;
        }

        @include media-breakpoint-up(xxl) {
            aspect-ratio: 3 / 1;
        }
    }

    &.card-with-icon:nth-child(5n) {
        grid-column: auto / span 3;
        aspect-ratio: 14 / 8;

        @include media-breakpoint-up(sm) {
            aspect-ratio: 2125 / 1000;
        }

        @include media-breakpoint-up(lg) {
            aspect-ratio: 207 / 100;
        }

        @include media-breakpoint-up(xl) {
            aspect-ratio: 2625 / 1000;
        }

        @include media-breakpoint-up(xxl) {
            aspect-ratio: 3 / 1;
        }
    }
}