.bank-icons {
    width: 100%;
    height: 100%;
    position: absolute;

    &.alfa {
        background: url("../assets/banks/Alfa-Bank-1.svg");

        &:hover {
            background: url("../assets/banks/Alfa-Bank-1-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.dom {
        background: url("../assets/banks/dom.svg");

        &:hover {
            background: url("../assets/banks/dom-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.gazprombank {
        background: url("../assets/banks/Gazprombank-1.svg");

        &:hover {
            background: url("../assets/banks/Gazprombank-1-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.sovkombank {
        background: url("../assets/banks/logo.svg");

        &:hover {
            background: url("../assets/banks/logo-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.tkb {
        background: url("../assets/banks/logo-2.svg");

        &:hover {
            background: url("../assets/banks/logo-3.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.uralsib {
        background: url("../assets/banks/logo-4.svg");

        &:hover {
            background: url("../assets/banks/logo-5.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.raiffaisen {
        background: url("../assets/banks/logo-6.svg");

        &:hover {
            background: url("../assets/banks/logo-7.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.psb {
        background: url("../assets/banks/logo-8.svg");

        &:hover {
            background: url("../assets/banks/logo-9.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.sberbank {
        background: url("../assets/banks/Sberbank_Logo_2020-1.svg");

        &:hover {
            background: url("../assets/banks/Sberbank_Logo_2020-1-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.vtb {
        background: url("../assets/banks/VTB_Logo_2018-1.svg");

        &:hover {
            background: url("../assets/banks/VTB_Logo_2018-1-1.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.bg {
        background-repeat: no-repeat;
        background-position: center center;
    }
}