.mortgage-programs {
    &.base-container {
        display: grid;
        width: 100%;
        gap: 16px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: fit-content;
    }

    &.programs-with-filters {
        display: grid;
        height: fit-content;
        width: 100%;
        gap: 16px;

        &.top {
            grid-template-columns: 1fr auto;
        }
    }

    &.results-counter {
        background-color: white;
        border-radius: 16px;
        padding: 12px 24px;
        font-size: 14px;
        gap: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $black1;
        display: grid;
        grid-template-columns: 20px auto;
        justify-content: center;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .icon {
            width: 20px;
            height: 20px;
        }

        span {
            margin-top: 3px;
        }
    }

    &.dropdown-offers-container {
        display: grid;
        height: fit-content;
    }

    &.dropdown-card {
        &.base-container {
            display: grid;
            padding: 24px;
            gap: 16px;
            border-radius: 24px;
            height: 136px;
            overflow: hidden;
            background-color: $superwhite;
            transition: height 0.35s ease, max-height 0.35s ease;

            .offer-card {
                &.base-container {
                    display: none;
                }
            }

            &.open {
                &.base-container {
                    height: 100%;
                }

                .unfold-button {
                    rotate: 180deg;
                }
            }

            &.active {
                outline: 1.5px solid $orange1;
            }
        }

        &.primary-card {
            display: grid;
            gap: 16px;
            height: 88px;
            cursor: pointer;
        }

        &.bubbles {
            display: flex;
            gap: 12px;
        }

        &.bubble {
            color: $grey3;
            border: 1.5px solid $grey2;
            padding: 2px 12px;
            border-radius: 8px;
            font-weight: 400;
            font-size: 14px;
        }

        &.stats {
            display: grid;
            gap: 20px;
            align-items: center;
            height: 32px;
            grid-template-columns: 120px 140px 100px 140px auto 32px;
        }

        &.percentage {
            color: $orange1;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
        }

        &.text {
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            color: $grey5;
        }

        &.unfold-button {
            width: 32px;
            height: 32px;
            background-color: $white;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: rotate 0.35s ease;
            cursor: pointer;

            .icon {
                rotate: 90deg;
                width: 16px;
                height: 16px;
            }
        }
    }

    &.offer-card {
        &.base-container {
            display: grid;
            padding: 8px 24px;
            gap: 24px;
            height: fit-content;
            background-color: $superwhite;
            cursor: pointer;
            grid-template-columns: auto 1fr auto;
            justify-content: space-between;

            align-items: center;
            border: 1.5px solid $grey1;
            border-radius: 16px;

            &:hover {
                background-color: $grey1;
            }

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }

            &.active {
                border: 1.5px solid $orange1;
            }
        }

        &.title {
            font-size: 14px;
            font-weight: 400;
            color: $grey3;
            line-height: 20px;
        }

        &.info-container {
            display: grid;
            gap: 20px;
            grid-template-columns: 80px 160px 100px 160px;

            &>:first-child {
                color: $orange1;
            }
        }

        &.info-icon-container {
            display: grid;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;

            .icon {
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
    }
}