.mortgage-calculator {
    color: $black1;

    &.section-header {
        width: 100%;

        @include media-breakpoint-down(lg) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include media-breakpoint-down(xl) {
            align-items: start;
            gap: 24px;
        }

        &>.title {
            width: 33%;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }
        }

        &>.divider {

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }
    }

    &.base-container {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 32px;

        &>.divider {
            display: none;

            @include media-breakpoint-up(xl) {
                display: initial;
            }
        }

        &>.common-button {
            justify-self: center;
            font-size: 14px;
            width: 260px;

            @include media-breakpoint-up(md) {
                width: 400px;
            }

            @include media-breakpoint-up(xl) {
                width: 412px;
            }
        }
    }

    &.container {
        display: grid;
        gap: 48px;
        width: 100%;

        &.grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
            }

            &>.input-fieldset {
                padding: 8px 4px;
            }
        }
    }

    &.title {
        font-size: 24px;

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    &.selection {
        &.filters-container {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 68px) 54px;

            .search-catalogue {
                &.dropdown {
                    &.container {
                        display: grid;
                        height: 54px;
                        padding: 18px 24px;

                        .filter {
                            &.counter {
                                border: 1px solid $grey1;
                            }
                        }

                        .custom-dropdown {
                            &.base-container {
                                .names-dropdown {
                                    background-color: $superwhite;
                                }

                                .radio-button {
                                    background-color: $superwhite;
                                }

                                &.open {
                                    max-height: 424px;
                                    overflow-y: auto;
                                }
                            }
                        }
                    }

                    &.placeholder {
                        color: $black1;
                        font-weight: 500;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }

        &.container {
            display: grid;
            gap: 40px;
            align-items: start;
            border-radius: 24px;
            padding: 24px;
            background-color: $superwhite;
            height: fit-content;

            .common-button {
                grid-column: span 1;
                width: 100%;
            }
        }
    }

    &.sliders {
        &.container {
            display: grid;
            gap: 40px;
            height: fit-content;
            padding: 0;
            width: 100%;

            legend {
                margin-bottom: 0;
            }

            &>.input-fieldset {
                padding: 8px 4px;
            }
        }

        &.inside {
            display: grid;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            gap: 4px;
        }

        &.values {
            display: flex;
            justify-content: space-between;

            &>input {
                width: 50%;
            }
        }

        &.percent {
            color: $grey3;
        }
    }

    &.info {
        &.header {
            display: grid;
            gap: 8px;

            h6 {
                font-size: 18px;
                line-height: 24px;
            }

            span {
                font-size: 14px;
            }

            #choose-mortgage-program-hint {
                span {
                    color: $orange1;
                }
            }
        }

        &.container {
            align-items: center;
            gap: 36px;
            background-color: $superwhite;
            color: $black1;
            margin: 0;
            border-radius: 24px;
            width: 100%;

            &>.unit {
                justify-self: start;
                align-items: start;
                width: 100%;
            }
        }

        &.grid {
            display: grid;
            gap: 16px;
            width: 100%;
        }

        &.unit {
            display: grid;
            width: 100%;
            gap: 0;
            column-gap: 8px;
            justify-content: center;
            white-space: nowrap;
            grid-template-columns: 20px 1fr;

            .icon {
                width: 20px;
                height: 20px;
            }

            &:nth-child(2) {
                .value {
                    color: $black1;
                }
            }
        }

        &.title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $grey4;
            margin-top: 2px;
        }

        &.value {
            font-size: 24px;
            line-height: 32px;
            color: $orange1;
        }
    }

    &.bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            gap: 40px;
        }
    }

    &.description {
        color: $grey4;
        font-size: 14px;
        line-height: 24px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
            line-height: 26px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 28px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 24px;
            line-height: 34px;
        }
    }
}