sales-announcements {
    display: grid;
    gap: 40px;

    @include media-breakpoint-down(lg) {
        gap: 24px;
    }

    header {
        display: flex;
        justify-content: space-between;

        button {
            display: flex;
            gap: 16px;
            background-color: $superwhite;
            height: 36px;
            color: $black1;
            border-radius: 18px;
            border: none;
            align-items: center;
            padding: 8px 16px;

            div {
                border-radius: inherit;
                background-color: $black1;
                color: $superwhite;
                padding: 2px 8px;
            }
        }

        @include media-breakpoint-down(sm) {
            display: grid;
            gap: 8px;

            button {
                width: fit-content;
            }
        }
    }

    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 20px;
        user-select: none;

        @include media-breakpoint-down(xl) {
            column-gap: 32px;
            row-gap: 16px;
        }

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 32px;
            row-gap: 24px;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: auto;
            row-gap: 16px;
        }

        &[showall=true] {
            &>*[type=announcement] {
                display: grid;
            }
        }

        &>*[type=announcement] {
            padding: 20px;
            background-color: $superwhite;
            border-radius: 16px;
            gap: 12px;
            display: none;

            @include media-breakpoint-up(md) {
                &:nth-of-type(-n+6) {
                    display: grid;
                }
            }

            @include media-breakpoint-down(md) {
                &:nth-of-type(-n+3) {
                    display: grid;
                }
            }

            &>*:nth-child(1) {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 16px;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 16px;
                    grid-row: span 2;
                }

                h5 {
                    font-size: 16px;
                    line-height: 125%;
                    font-weight: 500;
                    color: $black1;
                    margin-bottom: 4px;
                }

                h6 {
                    font-size: 14px;
                    line-height: 125%;
                    font-weight: 400;
                    color: $grey4;
                }
            }

            &>*:nth-child(2) {
                display: grid;
                grid-template-columns: auto 1fr auto;
                font-size: 14px;
                font-weight: 400;
                gap: 8px;

                .icon {
                    width: 16px;
                    height: 16px;
                }

                div {
                    color: $grey4;
                }

                a {
                    margin-left: auto;
                    color: $blue3;
                }
            }
        }
    }
}