@keyframes customFadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#apartment-dropdown-0.animate__fadeInDown {
    animation-name: customFadeInDown;
}
