html {
    scroll-behavior: smooth;
    scroll-timeline: .7s;
}

#apartment-dropdown-0.animate__slideInDown,
#apartment-dropdown-1.animate__slideInDown,
#apartment-dropdown-2.animate__slideInDown,
#apartment-dropdown-3.animate__slideInDown,
#apartment-dropdown-4.animate__slideInDown,
#apartment-dropdown-5.animate__slideInDown,
#apartment-dropdown-6.animate__slideInDown {
    animation-name: customSlideInDown;
    animation-duration: 1s;
}

#apartment-dropdown-0.animate__slideInUp,
#apartment-dropdown-1.animate__slideInUp,
#apartment-dropdown-2.animate__slideInUp,
#apartment-dropdown-3.animate__slideInUp,
#apartment-dropdown-4.animate__slideInUp,
#apartment-dropdown-5.animate__slideInUp,
#apartment-dropdown-6.animate__slideInUp{
    animation-name: customSlideInUp;
    animation-duration: 0.3s;
}

@keyframes customSlideInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes customSlideInUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-60px);
    }
}
