[type="description-container"]:hover {
    cursor: pointer;
}

@media (min-width: 920px) {
    [type="top-content"]:hover ~ building-card {
        transition: .7s;
        height: 600px !important;
    }

    building-card:has([type="description-container"]:hover) {
        transition: 0.7s;
        height: 770px !important;
    }

    building-card:not([type="description-container"]:hover) {
        transition: 0.2s;
    }

    [type="description-container"]:hover ~ image-gallery {
        height: 330px !important;
    }

    building-card:hover #top-content {
        transition: 0.7s;
        min-height: 331px !important;
    }
}

@media (min-width: 924px) and (max-width: 1024px) {
    building-card:has([type="description-container"]:hover) {
        transition: 0.7s;
        height: 650px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1619px) {
    building-card:has([type="description-container"]:hover) {
        transition: 0.7s;
        height: auto !important;
    }
}

@media (min-width: 320px) and (max-width: 920px) {
    building-card div[type="more"] {
        display: none!important;
    }
    building-card section[type="description-container"] {
        max-height: 100%;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    building-card section[type="description-container"] div[type="additional-info"] {
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
    }
    building-card section[type="description-container"] ul,
    building-card section[type="description-container"] div[type="additional-info"] ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    building-card section[type="description-container"] ul li,
    building-card section[type="description-container"] div[type="additional-info"] ul li {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    building-card div[type="additional-info"] {
        display: grid!important;
    }
    building-card a.common-button {
        display: grid!important;
    }
    building-card {
        height: 650px!important;
    }

}
