.custom-dropdown {
    font-weight: inherit;
    font-size: inherit;
    cursor: default;

    &>:not(input) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.base-container {
        overflow: hidden;
        background-color: $white-with-opacity;
        gap: 12px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        max-height: 0;
        display: grid;
        min-width: 100%;
        top: -100%;
        position: absolute;
        width: max-content;
        z-index: 5;
        align-content: start;

        &.open {
            padding: 16px 16px;
            padding-top: 0;
            max-height: fit-content;
            background-color: $white;
            top: 100%;
            left: 0;
            box-shadow: $common-shadow;

            @include media-breakpoint-up(md) {
                background-color: $white-with-opacity;
                border-top: 1.5px solid $white-with-opacity;
            }

            @include media-breakpoint-up(lg) {
                translate: 0px 8px;
            }
        }

        &.in-filter {
            overflow-y: scroll;
            background-color: $white;
            width: 100vw;
            border-radius: 0;
            z-index: 100;
            padding: 16px;
            position: fixed;
            align-content: start;
            left: 0;

            &>input.filter {
                grid-column: inherit;
                background-color: inherit;
                outline: none;
                border-color: $grey2;
                padding-top: 11px;
                padding-bottom: 11px;
            }
        }
    }

    &.text-item {
        height: fit-content;
        cursor: pointer;
        display: flex;
        gap: 12px;
        text-align: center;
        align-items: center;

        &>.checkbox-borders {
            border-width: 1px;
            border-color: $grey3;

            &>.checkbox:checked {
                background-color: $white;
            }
        }

        @include media-breakpoint-up(lg) {
            border-radius: 24px;
            padding: 12px;
            margin-left: -12px;
            margin-right: -12px;
            line-height: 4px;

            &.selected,
            &:hover {
                background-color: $grey0;
            }
        }
    }
}