.names-dropdown {
    font-weight: inherit;
    font-size: inherit;

    &>:not(input) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.buttons-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 16px;
        gap: 16px;

        @include media-breakpoint-down(xl) {
            gap: 8px;
        }
    }

    &.button {
        background-color: inherit;
        color: $grey4;
        padding: 8px 16px;
        line-height: 10px;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        gap: 8px;
        align-items: center;

        &.selected {
            background-color: $orange1;
            color: $white;
        }

        &>.filter.counter {
            margin: -4px;
            margin-left: 0;
            $filterSize: 16px;
            display: none;
            visibility: visible;
            min-height: $filterSize;
            height: $filterSize;
            max-height: $filterSize;
            min-width: $filterSize;
            width: $filterSize;
            max-width: $filterSize;
            font-size: calc($filterSize - 4px);
        }
    }

    &.container {
        background-color: $white;
        display: none;
        max-height: 600px;
        overflow-y: auto;
        -webkit-line-clamp: 2;
    }

    &.close-button {
        margin-left: auto;
        cursor: pointer;
        border-radius: 50%;
        background-color: $white;
        height: 24px;
        width: 24px;
        display: grid;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        border: 1px solid $grey4;

        .icon {
            background-color: $grey5;
            width: 16px;
            height: 16px;
            rotate: 180deg;
        }
    }

    &.item {
        padding: 8px 8px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $grey2;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            &>div {
                background-color: $grey0;
            }
        }

        &.selected {
            &>div {
                background-color: $grey1;
            }
        }

        &>div {
            padding: 8px 8px;
            border-radius: 24px;
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            &>.icon {
                width: 20px;
                height: 20px;
                background-color: $orange1;
            }

            &>span:nth-of-type(2) {
                font-size: 12px;
                color: $grey4;
            }

            &>.checkbox-borders {
                border-color: $grey3;

                &>.checkbox:checked {
                    height: 100%;
                    background-color: $white;
                }
            }
        }
    }
}