image-gallery {
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    padding: inherit;
    padding-left: 52px;
    padding-right: 52px;

    &>*[type=card-area] {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: inherit;

        * {
            height: 100%;
            width: 100%;
            z-index: 0;
            cursor: pointer;
        }
    }

    &>*[type=slider-indicators] {
        display: flex;
        flex-direction: row;
        z-index: 2;
        gap: 8px;
        width: 100%;
        justify-content: center;
        position: relative;
        top: 100%;
        transform: translateY(-100%);

        * {
            background-color: $white;
            opacity: 0.6;
            height: 4px;
            width: 100%;
            border-radius: 4px;

            &[active=true] {
                background-color: $orange1;
                opacity: 1;
            }
        }
    }
}