text-input {
    display: grid;
    gap: 8px;

    &>div {
        font-size: 12px;
        font-weight: 400;
        color: $error;
        display: none;
    }

    fieldset {
        display: grid;
        gap: 8px;
        gap: inherit;
        position: relative;

        legend {
            font-size: 12px;
            line-height: 125%;
            color: $black1;
            font-weight: 400;

            span {
                color: $red;
            }
        }

        input {
            width: 100%;
            border-radius: 8px;
            padding: 8px 12px;
            border: none;
            font-size: 12px;
            outline: 1.5px solid $grey2;
            background-color: inherit;

            &:focus,
            &:focus-visible {
                outline: 1.5px solid $blue;
                color: $blue;
            }
        }

        .input-container {
            position: relative;
        }

        .icons-container {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            bottom: 0;

            .icon {
                display: none;
                width: 16px;
                height: 16px;

                &.error {
                    right: 32px;
                }

                &.action-close {
                    background-color: $blue;
                    cursor: pointer;
                }
            }
        }
    }

    &[invalid=true] {
        input {
            outline: 1.5px solid $error !important;
            color: $error !important;
        }

        .icon.error {
            display: block;
        }

        // &>div {
        //     display: block;
        // }
    }
}