agent-building-card {
    @extend building-card;
    height: fit-content;

    &[smallonly=true],
    &[smallonly="1"] {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        min-width: calc(50% - 12px);
    }

    @include media-breakpoint-up(xl) {
        min-width: calc(33.33% - 20px);
    }

    image-gallery {
        padding: inherit;
        padding-bottom: 20px;
    }

    *[type=subheader] {
        font-size: 14px;
        color: $black1;
    }

    *[type=top-content] {
        max-height: 210px;
        padding: 24px;
    }

    *[type=top-buttons] {

        &>button,
        share-button,
        like-button {
            height: 32px;
            width: 32px;

            .icon {
                height: 16px;
                width: 16px;
            }
        }
    }

    *[type=description-container] {
        max-height: 100%;
        gap: 8px;

        h6 {
            @include media-breakpoint-up(lg) {
                font-size: 20px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 24px;
            }
        }

        *[type=more] {
            width: fit-content;
            justify-self: center;
            cursor: pointer;
            font-size: 14px;
            line-height: 140%;
            border-radius: 4px;
            padding: 2px 4px;
            margin-bottom: 4px;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        }

        .common-button {
            padding: 16px 32px;
            border-radius: 16px;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
            margin-top: 8px;
        }

        ul {
            transition: opacity 0.2s ease-in-out;
        }

        ul[type=specifics] {
            display: none;
            opacity: 0;
        }

        ul[type=info] {
            display: grid;
            opacity: 1;

            li {
                gap: 80px;
                grid-template-columns: 80px 1fr;

                *:not([type=subheader]) {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                }
            }
        }

        &[showmore=true] {
            ul[type=info] {
                display: none;
                opacity: 0;
            }

            ul[type=specifics] {
                display: grid;
                opacity: 1;
            }

            *[type=more] {
                background-color: $orange1;
                color: $superwhite;
            }
        }

        header {

            *[type=description] {
                .icon {
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                    min-height: 16px;
                }

                &[and=date] {
                    color: $black1;
                    font-weight: 500;
                }
            }
        }
    }

    *[type=minprice] {
        font-size: 20px;
        color: $black1;
        line-height: 140%;
    }

    ul {
        margin-top: 16px;
    }
}