buttons-grid {
    $buttonPadding: 4px;
    position: relative;
    padding: calc(8px - $buttonPadding) calc(16px - $buttonPadding);
    outline: 1.5px solid $grey2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 12px;
    gap: 16px;

    button {
        font-size: inherit;
        line-height: 150%;
        color: $black1;
        padding: $buttonPadding; // calc($buttonPadding * 2);
        border-radius: $buttonPadding;
        outline: none;
        border: none;
        background-color: inherit;
        flex: 1;

        &[selected=true] {
            background-color: $orange1;
            color: $white;
            width: auto;
        }
    }
}