contained-checkbox {
    border-radius: 8px;
    outline: 1.5px solid $grey2;
    background-color: $superwhite;
    padding: 8px 16px;
    gap: 8px;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: auto auto;
    cursor: pointer;
    user-select: none;

    .placeholder {
        color: $black1;
        font-size: 12px;
    }

    .pseudo-checkbox {
        border-color: $grey2;
    }
}