date-picker {
    @extend text-input;

    fieldset {
        .input-container {
            input {
                text-align: left;

                &:focus,
                &:focus-visible {
                    outline-color: $grey2;
                    color: $black1;
                }
            }

            .icons-container {
                pointer-events: none;

                .icon {
                    display: block;
                    height: 16px;
                    width: 16px;
                    background-color: $black1;
                }
            }
        }
    }

    .calendar-container {
        position: fixed;
        z-index: 11;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        display: none;

        &[shown=true] {
            display: block;
        }

        &>div {
            cursor: default;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-color: white;
            border-radius: 16px;
            padding: 16px;
            outline: 1.5px solid $grey2;
            width: fit-content;
            position: relative;
            min-width: 500px;

            @include media-breakpoint-down(md) {
                min-width: 0;
                max-width: calc(100vw - 16px);
            }

            h2 {
                text-transform: capitalize;
            }

            .fc-daygrid-day-frame,
            .fc-daygrid-day-number {
                cursor: pointer;
            }

            .fc-today-button {
                display: none;
                text-transform: capitalize;

                // &::after {
                //     content: 'Сегодня';
                // }
            }


            .fc-toolbar-chunk {
                display: grid;
                gap: 8px;
                grid-template-columns: auto auto;
            }
        }
    }
}