.main-page-title {
    &.title-cards {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 32px;

        @include media-breakpoint-down(xl) {
            gap: 24px;
        }

        @include media-breakpoint-down(lg) {
            gap: 8px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 300px auto;

            &>:first-child {
                grid-column: span 2;
            }
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
            grid-template-rows: 300px auto auto;

            &>:first-child {
                grid-column: initial;
            }
        }
    }
}