.news {
    &.base-container {
        position: relative;
        display: grid;
        gap: 36px;
    }

    &.container {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, auto);

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.date {
        background-color: $orange1;
        color: $superwhite;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        padding: 8px;
        width: fit-content;
        border-radius: 8px;
        user-select: none;
        height: fit-content;
    }
}

.news-container {
    display: grid;
    gap: 52px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        gap: 60px;
    }
}