.partner-icons-novosibirsk {
    width: 100%;
    height: 100%;
    position: absolute;

    &.brusnika {
        background: url("../assets/partners/novosibirsk/image-17.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-17-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.rastsvetay {
        background: url("../assets/partners/novosibirsk/image-18.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-18-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.energo-montazh {
        background: url("../assets/partners/novosibirsk/image-19.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-19-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.scandia {
        background: url("../assets/partners/novosibirsk/image-21.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-21-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.kpd-gazstroy {
        background: url("../assets/partners/novosibirsk/image-22.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-22-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.soyuz {
        background: url("../assets/partners/novosibirsk/image-23.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-23-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.dom-stroy {
        background: url("../assets/partners/novosibirsk/image-24.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-24-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.noviy-mir {
        background: url("../assets/partners/novosibirsk/image-25.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-25-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.vira-stroy {
        background: url("../assets/partners/novosibirsk/image-26.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-26-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.acacia {
        background: url("../assets/partners/novosibirsk/image-27.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-27-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.elka {
        background: url("../assets/partners/novosibirsk/image-28.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-28-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.yasniy-bereg {
        background: url("../assets/partners/novosibirsk/image-29.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-29-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.meta {
        background: url("../assets/partners/novosibirsk/image-30.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-30-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.sibir-development {
        background: url("../assets/partners/novosibirsk/image-31.png");

        &:hover {
            background: url("../assets/partners/novosibirsk/image-31-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.bg {
        background-repeat: no-repeat;
        background-position: center center;
    }
}