.partners {
    &.container {
        display: grid;
        gap: 24px;

        @include media-breakpoint-up(md) {
            gap: 48px;
        }

        @include media-breakpoint-up(lg) {
            gap: 56px;
        }

        @include media-breakpoint-up(xl) {
            gap: 64px;
        }

        @include media-breakpoint-up(xxl) {
            gap: 80px;
        }
    }

    &.base-container {
        height: fit-content;
        border-radius: 32px;
        padding: 24px;
        gap: 16px;

        @include media-breakpoint-up(sm) {
            border-radius: 32px;
            padding: 32px;
            gap: 24px;
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            border-radius: 40px;
            padding: 40px;
            gap: 24px;
        }

        @include media-breakpoint-up(lg) {
            border-radius: 56px;
            padding: 64px;
            gap: 24px;
        }

        @include media-breakpoint-up(xl) {
            border-radius: 56px;
            padding: 100px 40px;
            gap: 40px;
        }

        @include media-breakpoint-up(xxl) {
            border-radius: 56px;
            padding: 100px;
            gap: 40px;
        }
    }

    &.buttons-container {
        display: flex;
        align-items: end;
        gap: 8px;

        &>.common-button {
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }

        &.align-to-end {
            align-self: end;
        }

        @include media-breakpoint-up(md) {
            gap: 16px;
            align-self: end;
        }
    }

    &.title {
        font-size: 24px;

        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    &.grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        width: 100%;
        gap: 4px;

        @include media-breakpoint-up(sm) {
            gap: 8px;
        }

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(6, 1fr);
        }

        @include media-breakpoint-up(lg) {
            gap: 20px;
        }

        @include media-breakpoint-up(xxl) {
            gap: 24px;
        }
    }

    &.partner-card {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: $grey0;
        position: relative;
        grid-column: auto / span 3;
        border-radius: 16px;
        height: 64px;

        div {
            background-size: 45%;

            &:hover {
                background-size: 45%;
            }
        }

        .lenstroy {
            background-size: 30%;

            &:hover {
                background-size: 30%;
            }

            @include media-breakpoint-up(md) {
                background-size: 20%;

                &:hover {
                    background-size: 20%;
                }
            }

            @include media-breakpoint-up(lg) {
                background-size: 50%;

                &:hover {
                    background-size: 50%;
                }
            }
        }

        @include media-breakpoint-up(md) {
            height: 80px;

            div {
                background-size: 30%;

                &:hover {
                    background-size: 30%;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            height: 140px;
            border-radius: 32px;

            div {
                background-size: 50%;

                &:hover {
                    background-size: 50%;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            height: 160px;
            border-radius: 40px;

            div {
                background-size: auto;

                &:hover {
                    background-size: auto;
                }
            }
        }

        @include media-breakpoint-up(xxl) {
            height: 180px;
        }

        @include media-breakpoint-down(lg) {
            grid-column: auto / span 2;
        }
    }

    &.partner-card:nth-child(n+6):nth-child(-n+8) {
        grid-column: auto / span 5;
    }

    &.partner-card:nth-child(n+14):nth-child(-n+16) {
        grid-column: auto / span 5;
    }

    @include media-breakpoint-down(lg) {

        &.partner-card:nth-child(n+4):nth-child(-n+5) {
            grid-column: auto / span 3;
        }

        &.partner-card:nth-child(n+6):nth-child(-n+8) {
            grid-column: auto / span 2;
        }

        &.partner-card:nth-child(n+9):nth-child(-n+10) {
            grid-column: auto / span 3;
        }

        &.partner-card:nth-child(n+11):nth-child(-n+13) {
            display: none;
        }
    }
}