.partner-icons-st-petersburg {
    width: 100%;
    height: 100%;
    position: absolute;

    &.akvilon {
        background: url("../assets/partners/st-petersburg/image-32.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-32-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.arsenal {
        background: url("../assets/partners/st-petersburg/image-33.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-33-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.cdc {
        background: url("../assets/partners/st-petersburg/image-34.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-34-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.fsk {
        background: url("../assets/partners/st-petersburg/image-35.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-35-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.glorax {
        background: url("../assets/partners/st-petersburg/image-36.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-36-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.kvs {
        background: url("../assets/partners/st-petersburg/image-37.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-37-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.lcp {
        background: url("../assets/partners/st-petersburg/image-38.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-38-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.pik {
        background: url("../assets/partners/st-petersburg/image-39.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-39-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.lenstroy {
        background: url("../assets/partners/st-petersburg/image-40.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-40-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.polis {
        background: url("../assets/partners/st-petersburg/image-41.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-41-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.rbi {
        background: url("../assets/partners/st-petersburg/image-42.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-42-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.setl {
        background: url("../assets/partners/st-petersburg/image-43.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-43-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.terminal {
        background: url("../assets/partners/st-petersburg/image-44.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-44-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.vita {
        background: url("../assets/partners/st-petersburg/image-45.png");

        &:hover {
            background: url("../assets/partners/st-petersburg/image-45-1.png");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &.bg {
        background-repeat: no-repeat;
        background-position: center center;
    }
}