.search-grid {
    font-size: 14px;
    line-height: 24px;

    &>:not(input) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.small-menu-list {
        display: flex;
        gap: 0;
        flex-direction: column;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &.menu-header {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        font-weight: 500;

        button {
            border: none;
            background-color: inherit;
            font-weight: inherit;
            color: $blue;
            font-size: 14px;
            display: flex;
            gap: 8px;
            align-items: center;
            cursor: pointer;

            &>.arrow-tailless {
                transform: rotate(-90deg);
                background-color: $blue;
                width: 12px;
                height: 8px;
                min-height: 8px;
            }
        }

        &.no-clear {
            &>div:nth-child(3) {
                opacity: 0;
                pointer-events: none;
            }
        }

        &>div {
            color: $black1;
            font-size: 18px;
        }

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    &.base-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 16px;
        justify-self: center;

        @include media-breakpoint-up(lg) {
            width: 900px;

            .filter-bubble.base-container {
                grid-column: span 2;
            }

            .filter.base-container {
                outline: 1px solid $white;
            }
        }

        @include media-breakpoint-up(xl) {
            width: 1000px;
        }

        .search-bar.base-container {
            width: 100%;
        }

        &>.menu-header {
            display: none;
        }

        .common-button {
            padding: 16px 32px;
            font-size: 14px;
            font-weight: 400;
            border-radius: 16px;
        }

        &.open-window {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            gap: 32px;
            background-color: $white;
            padding: 16px 16px;
            padding-bottom: 92px;
            z-index: 100;
            max-width: 100%;
            max-height: 100%;
            overflow-y: auto;
            align-content: start;
            grid-template-columns: auto;

            &>.menu-header {
                display: flex;
            }

            //Bubbles with search items
            &>.filter-bubble.base-container {
                order: 2000;
                display: flex;
                align-content: start;

                @include media-breakpoint-up(lg) {
                    height: 100%;
                }

                @include media-breakpoint-up(xl) {
                    height: fit-content;
                }
            }

            //Search start button for menu
            &>.common-button {
                width: 100%;
                order: 2001;
                display: flex;

                @include media-breakpoint-up(lg) {
                    align-self: end;
                }

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }

    &.bottom {
        display: flex;
        justify-content: space-between;
    }

    &.search-container {
        display: grid;
        gap: 8px;
        align-items: center;
        width: 100%;
        justify-content: end;
        grid-template-columns: 1fr;

        //uncomment to enable date dropdown on search bar
        #filter-completion-date {
            display: none;
        }

        #filter-completion-date,
        #filter-rooms-number {
            .custom-dropdown.base-container {
                gap: 4px;
            }
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2, 180px);
        }

        @include media-breakpoint-down(lg) {
            legend {
                padding: 0;
                margin: 0;
                translate: -4px -20px;
                width: 0;
                margin-top: 32px;
            }
        }
    }

    &.small-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        align-items: center;

        span {
            color: $black1;
            font-size: 16px;
            font-weight: 500;
        }

        &>.icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        &>.filter-bubble {
            opacity: 1;
        }
    }

    &.container {
        display: flex;
        width: 100%;
        gap: 16px;
        justify-self: end;
        align-self: end;

        @include media-breakpoint-up(xl) {
            width: fit-content;
        }

        &>.common-button {
            border-radius: 16px;
            padding: 12px 32px;
            font-size: 14px;
            font-weight: 400;
            width: 100%;
            height: 48px;

            @include media-breakpoint-up(xl) {
                width: fit-content;
            }

            &>.bordered {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &:nth-child(2) {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: flex;
                }
            }

            &:nth-child(3) {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &.container-mobile-small {
        display: none;
        gap: 8px;

        @include media-breakpoint-up(md) {
            gap: 24px;
        }

        @include media-breakpoint-down(lg) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);

            &>.common-button {
                border-radius: 16px;
                color: $grey5;
                padding: 12px 24px;
            }
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
        }
    }
}