.search-section {
    &.base-container {
        display: grid;
        gap: 32px;
        padding: 0 320px;
        justify-items: center;

        h2 {
            font-size: 28px;
            line-height: 32px;
            width: fit-content;

            @include media-breakpoint-down(lg) {
                font-size: 24px;
                line-height: 32px;
            }

            @include media-breakpoint-down(md) {
                font-size: 20px;
                line-height: 28px;
            }
        }

        @include media-breakpoint-down(1600px) {
            padding: 0 220px;
        }

        @include media-breakpoint-down(xl) {
            padding: 0 64px;
        }

        @include media-breakpoint-down(lg) {
            padding: 0 40px;
            justify-items: start;
            gap: 16px;
        }

        @include media-breakpoint-down(md) {
            padding: 0 16px;
            gap: 24px;
        }

        &.full-width {
            width: 100%;

            .searchbar-with-button {
                width: inherit;

                .search-grid.base-container {
                    width: inherit;
                }
            }

            @include media-breakpoint-down(xxl) {
                padding-left: 100px;
                padding-right: 100px;
            }

            @include media-breakpoint-down(xl) {
                padding-left: 80px;
                padding-right: 80px;
            }

            @include media-breakpoint-down(lg) {
                padding-left: 40px;
                padding-right: 40px;
            }

            @include media-breakpoint-down(md) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }

    &.header {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 40px;

        .common-button {
            border: none;
            background-color: inherit;
            padding: 4px;
            font-weight: 700;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &.searchbar-with-button {
        display: flex;
        gap: 8px;
        // margin: 0 180px;

        @include media-breakpoint-down(lg) {
            display: none;

            .search-bar {
                &.base-container {
                    border: none;
                }
            }

            input.common-button[value=Найти] {
                display: none;
            }
        }
    }
}