.round-button-template {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: $superwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .icon {
        width: 50%;
        height: 50%;
        background-color: $grey5;
    }

    &:hover {
        outline: 2px solid $orange1;

        .icon {
            background-color: $orange1;
        }

        &>.hint.base-container {
            display: block;
        }
    }
}