.news-card-primary {
    position: relative;
    border-radius: 32px;
    height: 380px;
    user-select: none;
    grid-column: span 7;
    grid-row: span 2;

    @include media-breakpoint-down(xl) {
        grid-column: span 4;
    }

    @include media-breakpoint-down(md) {
        grid-column: span 2;
    }

    img {
        position: absolute;
        border-radius: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    header {
        position: absolute;
        border-radius: inherit;
        bottom: 0;
        left: 0;
        right: 0;
        height: fit-content;
        width: 100%;
        background-color: $black1-half-transparent;
        padding: 32px 40px;
        padding-bottom: 8px;

        h6 {
            display: grid;
            grid-template-columns: auto auto;
            color: $superwhite;
            font-size: 24px;
            font-weight: 500;
            line-height: 125%;
            margin-bottom: 16px;

            .arrow-button {
                margin-left: auto;
            }
        }
    }
}