.allnecessary {
    &.title {
        font-size: 24px;

        @include media-breakpoint-up(sm) {
            font-size: 28px;
        }

        @include media-breakpoint-up(md) {
            font-size: 40px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 48px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 56px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 72px;
        }
    }

    &.base-container {
        gap: 24px;

        @include media-breakpoint-up(md) {
            gap: 32px;
        }

        @include media-breakpoint-up(xl) {
            gap: 40px;
        }
    }

    &.content-container {
        display: flex;
        gap: 24px;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(17, 1fr);
        }

        @include media-breakpoint-up(xl) {
            gap: 40px;
        }

        @include media-breakpoint-up(xxl) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.info {
        &.container {
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-direction: column;
            grid-column: span 7;

            @include media-breakpoint-up(md) {
                height: 75%;
            }

            @include media-breakpoint-up(xxl) {
                grid-column: span 1;
            }
        }

        &.description {
            font-size: 14px;
            line-height: 24px;
            white-space: pre-line;

            @include media-breakpoint-up(xl) {
                font-size: 16px;
                line-height: 30px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }

    &.locations {
        &.container {
            grid-column: span 10;
            margin-right: -16px;
            gap: 32px;
            display: grid;
            height: fit-content;

            @include media-breakpoint-up(md) {
                margin-right: -40px;
                padding-bottom: 32px;
            }

            @include media-breakpoint-up(lg) {
                padding-bottom: 40px;
            }

            @include media-breakpoint-up(xl) {
                margin-right: -64px;
                padding-bottom: 56px;
            }

            @include media-breakpoint-up(xxl) {
                margin-right: -120px;
                grid-column: span 2;
            }

        }

        &.images-container {
            display: flex;
            overflow: auto;
            gap: 20px;
            scrollbar-width: thin;
            padding-bottom: 24px;
            height: fit-content;
        }

        &.item {
            display: grid;
            gap: 16px;
            height: fit-content;
            width: 280px;
            cursor: pointer;

            @include media-breakpoint-up(lg) {
                width: 340px;
            }
        }

        img {
            border-radius: 40px;
            border-color: $grey0;
            border-width: 3px;
            border-style: solid;
            height: inherit;
            width: inherit;
            object-fit: cover;
            aspect-ratio: 113/100;
        }

        &.name {
            font-size: 18px;
        }
    }
}