.panorama {
    &.base-container {
        display: grid;
        gap: 32px;
    }

    embed {
        display: grid;
        gap: 32px;
        border-radius: 32px;
        height: 290px;
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 340px;
        }

        @include media-breakpoint-up(lg) {
            border-radius: 56px;
            height: 360px;
        }

        @include media-breakpoint-up(xl) {
            height: 580px;
        }

        @include media-breakpoint-up(xxl) {
            height: 600px;
        }
    }
}