.plan {
    &.header {
        &.container {
            display: grid;
            gap: 16px;
            width: 100%;
            padding-top: 28px;

            @include media-breakpoint-up(md) {
                display: flex;
                justify-content: space-between;
                padding-top: 32px;
            }
        }

        &.right-half {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 44px;

            @include media-breakpoint-up(md) {
                justify-content: center;
            }
        }
    }

    &.top-grid {
        display: grid;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 2fr 1fr;
            gap: 32px;
            grid-auto-rows: min-content;
        }
    }

    &.apartment-description {
        display: grid;
        gap: 16px;
        height: fit-content;
    }

    &.description-card {
        display: grid;
        border-radius: 32px;
        padding: 44px 32px;
        gap: 32px;
        width: 100%;
        padding-bottom: 60px;

        @include media-breakpoint-up(lg) {
            background-color: $superwhite;
        }
    }

    &.image-container {
        background-color: $superwhite;
        border-radius: 32px;
        padding: 44px;
        width: 100%;
        display: grid;
        height: 100%;
        gap: 32px;
        grid-template-rows: 96%;
    }

    &.image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        min-height: 260px;
    }

    &.description-item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        color: $grey4;
        align-items: center;
        width: 100%;
        gap: 44px;
    }

    &.price {
        font-size: 20px;
        font-weight: 500;
        color: $black1;
    }

    &.description-container {
        display: grid;
        gap: 20px;

        @include media-breakpoint-up(xl) {
            gap: 24px;
        }
    }

    &.description-value {
        font-weight: 500;
        color: $black1;
        white-space: nowrap;
    }

    &.title {
        font-size: 28px;
        font-weight: 500;

        @include media-breakpoint-up(lg) {
            font-size: 34px;
        }
    }

    .common-button {
        width: 100%;
        margin-bottom: -16px;
    }
}

.plans-cards {
    &.grid {
        display: flex;
        gap: 32px;
        overflow-x: hidden;
    }
}