.expanded-plan-card {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.container {
        z-index: 0;
        grid-row: span 1;
        display: grid;
        gap: 40px;
        align-content: start;

        //TODO: fix alignment not working!
        &>.common-button {
            height: 56px;
            align-self: end;
        }
    }

    &.small-card {
        background-color: $superwhite;
        border-radius: 32px;
        padding: 32px;
        padding-top: 20px;
        display: grid;
        gap: 8px;
        position: relative;
        height: 340px;
        min-height: 340px;
        max-height: 340px;

        @include media-breakpoint-up(md) {
            padding: 24px;
        }

        @include media-breakpoint-up(xl) {
            padding: 32px;
        }

        //Возможно не надо
        &>.common-button {
            background-color: inherit;
            border-color: $grey0;

            &:hover {
                border-color: $orange1;
            }
        }
    }

    &.header {
        display: flex;
        font-size: 24px;
        gap: 36px;
        font-weight: 500;
        max-height: 40px;
        justify-content: end;
        align-items: end;
    }

    &.details {
        display: grid;
        gap: 16px;
    }

    &.icons {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &.img-container {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        // padding: 32px;
        height: 240px;
        position: relative;
        border-radius: inherit;

        &:hover {
            outline-color: $orange1;
            outline-width: 2px;
            outline-style: solid;
        }
    }

    &.img {
        width: 100%;
        max-height: calc(100% - 64px);
        object-fit: contain;
        position: absolute;
        padding-left: 16px;
        padding-right: 16px;
    }

    &.title {
        font-size: 24px;
    }

    &.description {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }

    &.type-title {
        color: $grey3;
        width: 100%;
        display: flex;
        gap: 16px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        white-space: nowrap;

        div:nth-child(1) {
            width: 100%;
            height: 1px;
            background-color: $grey3;
            align-self: flex-end;
        }
    }

    &.line-desc {
        display: flex;
        gap: 12px;
        align-items: center;
        height: 10px;
    }

    &.short-description {
        display: grid;
        gap: 40px;
        //Добавил т.к. иногда края почему-то скрываются в скролле
        padding: 0 4px;

        &.blur {
            filter: blur(5px);
            pointer-events: none;
        }
    }

    &.compare-container {
        display: grid;
        gap: 64px;
    }

    &.description-container {
        display: grid;
        padding-left: 32px;
        gap: 64px;
    }

    &.description-section {
        display: grid;
        gap: 176px;
    }

    &.text-section {
        display: grid;
        gap: 64px;
        font-size: 14px;
    }

    &.line {
        height: 1px;
        color: $grey2;
        background-color: $grey2;
        width: 100%;
    }

    &.subtitle {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        color: $grey3;
        width: 100%;
    }

    &.subtitle-text {
        white-space: nowrap;
    }

    &>.common-button {
        &.grey {
            background-color: $grey0;
            color: $black1;
            width: 100%;
        }
    }

    &.description-wrapper {
        display: grid;
        gap: 140px;
    }

    &.text-with-price {
        display: grid;
        gap: 78px;
    }
}