.message {
    &.base-container {
        display: grid;
        color: $white;
        gap: 8px;
        justify-self: right;
        grid-template-columns: 36px auto;

        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }

    &.site-logo-as-icon {
        display: grid;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;

        img {
            width: 24px;
            height: 24px;
            border-radius: 0%;
        }
    }

    &.text-container {
        background-color: $blue2;
        padding: 8px 12px;
        height: 32px;
        border-radius: 8px;
        font-weight: 400;
        word-break: break-word;
        align-items: center;
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: end;
    }

    &.time {
        font-size: 10px;
        color: $white;
        font-weight: 400;
        width: fit-content;
        align-self: end;
        white-space: nowrap;
        opacity: 0.6;
    }

    &.reciever {
        &.base-container {
            justify-self: left;
            color: $black1;
        }

        &.text-container {
            background-color: $white;
            align-items: end;
            height: fit-content;

            .time {
                color: $black1;
            }
        }

        &.name-and-text {
            display: grid;
            gap: 8px;

            h6 {
                font-size: 12px;
                font-weight: 500;
                color: $blue2;
            }

            div {
                // line-height: 20px;
            }
        }
    }
}