.location {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
        gap: 24px;

        @include media-breakpoint-up(md) {
            gap: 40px;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &.header-with-button {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: row;

        @include media-breakpoint-up(lg) {
            .infrastructure-button {
                display: none;
            }
        }
    }

    &.infrastructure-button {
        height: 48px;
        cursor: pointer;
        border-radius: 12px;
        border: 1.5px solid $grey2;
        aspect-ratio: 1/1;
        padding: 12px;

        .icon {
            width: 100%;
            height: 100%;
        }
    }

    &.content {
        gap: 20px;
        height: 300px;

        @include media-breakpoint-up(sm) {
            height: 360px;
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: repeat(5, minmax(0, 1fr));
            height: 600px;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(7, minmax(0, 1fr));
        }

        .map-frame {
            grid-column: span 3;

            @include media-breakpoint-up(xl) {
                grid-column: span 5;
            }
        }

        .container {
            grid-column: span 2;
        }
    }

    &.map-frame {
        grid-column: span 1;
        height: 100%;

        @include media-breakpoint-up(lg) {
            grid-column: span 2;
        }

        @include media-breakpoint-up(xl) {
            grid-column: span 3;
        }

        &>* {
            border-radius: 32px;
        }

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.info {
        display: flex;
        width: 100%;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: 16px;
        }

        @include media-breakpoint-up(lg) {
            width: 90%;
        }

        @include media-breakpoint-up(xxl) {
            width: 50%;
        }
    }

    &.metro-with-filter {
        display: flex;
        gap: 12px;
        align-items: start;
        justify-content: end;

        @include media-breakpoint-down(lg) {
            width: 100%;
            align-items: end;
            justify-content: space-between;
        }

        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }

    &.metro-stations {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: relative;
        align-items: center;
        height: fit-content;
        font-size: 14px;
        line-height: 20px;
        color: $grey4;
    }

    &.info-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        width: 33%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &.info-description {
        width: 66%;
        font-size: 16px;
        line-height: 26px;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    &.menu {
        &.container {
            background-color: white;
            border-radius: 32px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-breakpoint-down(lg) {
                display: none;
            }

            @include media-breakpoint-down(xl) {
                padding: 32px;
            }
        }

        &.select-all {
            border-radius: 40px;
            border-width: 2px;
            border-color: $grey2;
            border-style: solid;
            color: $grey4;
            padding-top: 12px;
            padding-bottom: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 14px;
            cursor: pointer;

            &.selected {
                border-color: $orange1;
                color: $orange1;
            }
        }
    }
}