.signup {
    &.base-container {
        display: grid;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 2fr;
        }
    }

    &>.input-fieldset {
        height: initial;
    }

    &.half {
        display: grid;
        grid-column: span 1;

        @include media-breakpoint-down(lg) {
            &>div {
                width: initial;
            }
        }
    }

    &.form {
        gap: 24px;
        border-color: $grey2;
    }

    &.title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;

        @include media-breakpoint-up(xl) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &.top-input {
        display: grid;
        gap: 24px;
    }

    &.sub-title {
        font-size: 16px;
        line-height: 26px;

        @include media-breakpoint-up(md) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &.header {
        display: grid;
        width: 70%;
        height: fit-content;
        gap: 16px;
    }

    &.communication-container {
        display: grid;
        gap: 16px;
        border-color: inherit;
    }

    &.info {
        font-size: 16px;
        line-height: 26px;
        color: $grey4;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 28px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 20px;
            line-height: 30px;
        }
    }
}