.document-download {
    &.container {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        @include media-breakpoint-up(xxl) {
            flex-direction: row;
        }
    }

    &.grey-container {
        display: flex;
        gap: 16px;
        overflow: auto;
        padding-bottom: 12px;
        margin-bottom: -12px;
        flex-wrap: wrap;

        &.menu {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &>.tab.enabled {
                background-color: $orange1;
                width: 100%;
            }

            &>.tab.disabled {
                background-color: $white;
                width: 100%;
            }
        }

        &.force-grey {
            &>.tab.disabled {
                background-color: $grey1;
            }
        }
    }

    &.buttons {
        border-radius: 32px;
        padding-left: 32px;
        padding-right: 32px;
        display: grid;
        justify-content: center;
        align-content: center;
        white-space: nowrap;
        font-size: 14px;
        height: 48px;
        width: 100%;
        cursor: pointer;

        @include media-breakpoint-up(xl) {
            height: 56px;
            font-size: 16px;
        }

        &.download {
            border-style: solid;
            border-color: $grey2;
            border-width: 1.5px;
            background-color: $white;
            color: $black1;
            box-sizing: border-box;
        }

        &.whatsapp {
            background-color: #56B554;
            color: $white;
        }

        &.telegram {
            background-color: #4968B1;
            color: $white;
        }

        &.space-filler {
            display: none;

            @include media-breakpoint-up(lg) {
                display: grid;
                visibility: hidden;
            }
        }
    }

    &.with-icon {
        display: flex;
        flex-direction: row;
        gap: 10px;
        white-space: nowrap;
        align-items: center;
    }
}