p {
    color: $black1;
}

a {
    color: $black1;
    text-decoration-line: none;
}

body {
    font-family: Onest;
    font-weight: 500;
    line-height: 1.285;
    color: $black1;
    height: fit-content;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

legend {
    margin: 0;
}

main {
    display: grid;
    gap: 40px;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 48px;

    @include media-breakpoint-up(md) {
        gap: 56px;
        padding-top: 56px;
        padding-bottom: 56px;
    }

    @include media-breakpoint-up(xl) {
        gap: 64px;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    #title-with-pic {
        margin-top: -16px;

        @include media-breakpoint-up(lg) {
            margin-top: -36px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: -44px;
        }
    }

    #top-content {
        margin-top: -48px;

        @include media-breakpoint-up(lg) {
            margin-top: -56px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: -64px;
        }
    }

    &>* {
        padding: 0px $page-padding-sm;
        max-width: 1920px;
    }
}