.filters {
    &.dropdown {
        border: none;
        width: 100%;
        background: inherit;
        font-size: 14px;
        font-weight: 500;
    }

    &.dropdown:invalid {
        color: $grey4;
    }

    &.input-container {
        padding-left: 16px;
        padding-right: 20px;
        margin-bottom: 12px;
    }

    &.number-input {
        &.min-max-flex {
            display: flex;
            gap: 4px;
            align-items: end;
        }

        &.before {
            color: $grey3;
            font-size: 14px;
            font-weight: 400;
        }

        &.number {
            color: $black1;
            font-size: 14px;
        }

        &.number-input-flex {
            display: flex;
            gap: 4px;
            justify-content: space-between;
        }

        &.grid {
            display: grid;
            gap: 4px;
        }

        &.input-slider {
            width: 100%;
        }

        &.range {
            cursor: pointer;
            width: 100%;
            background-color: transparent;
            height: 8px;
            font-size: 10px;
        }
    }
}

.input-fieldset {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 16px;
    border-color: $grey2;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    color: inherit;
    font-size: 14px;
    padding: 4px;

    input {
        &[type=tel]:focus {
            border-color: $blue;
            color: $blue;
        }

        &[name=name]:focus {
            border-color: $blue;
            color: $blue;
        }

        &[type=text]:focus {
            border-color: $blue;
            color: $blue;
        }

        &[type=email]:focus {
            border-color: $blue;
            color: $blue;
        }

        &.footer {
            &[type=tel]:focus {
                border-color: $superwhite;
                color: $superwhite;
            }

            &[name=name]:focus {
                border-color: $superwhite;
                color: $superwhite;
            }
        }
    }

    &.highlighted {
        border-color: $error;
        color: $error;
    }
}

.input-legend {
    font-size: inherit;
    margin-left: 12px;
    color: inherit;
    float: none;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;

    &.disabled {
        color: $grey4;
    }
}

.input-text {
    font-size: inherit;
    border-width: 0px;
    background: inherit;
    color: $black1;
    padding: 12px 0px 16px 24px;
    outline: none;
    font-weight: 400;

    ::placeholder {
        color: $grey4;
    }

    &.highlighted {
        font-weight: 500;
    }

    &.error {
        color: $error;
    }
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
}

//Chrome
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        background-color: $grey2;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 2px;
        background-color: $grey2;
    }

    input[type='range']::-webkit-slider-thumb {
        border-radius: 50%;
        width: 9px;
        height: 9px;
        margin-top: -3px;
        cursor: ew-resize;
        -webkit-appearance: none;
        background-color: $orange1;
        color: $orange1;
        border: 2px solid $superwhite;
    }
}

//Firefox
input[type=range]::-moz-range-progress {
    background-color: $orange1;
}

input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    cursor: ew-resize;
    background-color: $orange1;
    border: 2px solid $superwhite;
}

input[type=range]::-moz-range-track {
    background-color: $grey2;
}

//Internet Explorer
input[type=range]::-ms-fill-lower {
    background-color: $orange1;
}

input[type=range]::-ms-thumb {
    width: 8px;
    border-radius: 50%;
    height: 8px;
    cursor: ew-resize;
    background-color: $orange1;
    border-style: none;
}

input[type=range]::-ms-fill-upper {
    background-color: $grey2;
}

input#current-mortgage-price::-webkit-outer-spin-button,
input#current-fee::-webkit-outer-spin-button,
input#current-mortgage-term::-webkit-outer-spin-button,
input#current-mortgage-price::-webkit-inner-spin-button,
input#current-fee::-webkit-inner-spin-button,
input#current-mortgage-term::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#current-mortgage-price,
input#current-fee,
input#current-mortgage-term,
input[type=number] {
    background-color: transparent;
    color: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
    font-family: inherit;
    -moz-appearance: textfield;
    appearance: textfield;
}

.input-error {
    font-size: 14px;
    font-weight: 400;
    color: $error;
    display: none;
}

.input-container {
    display: grid;
    gap: 8px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;

    .icon {
        display: none;
        margin-top: 8px;
        cursor: pointer;
        height: 20px;
        width: 20px;
    }

    .input-text {
        width: 100%;
    }
}

.error-icon {
    display: none;
    align-self: baseline;
    margin-top: 12px;
}