@font-face {
    font-family: Onest;
    font-weight: 200;
    src: url('../fonts/OnestThin1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 300;
    src: url('../fonts/OnestLight1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 400;
    src: url('../fonts/OnestRegular1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 500;
    src: url('../fonts/OnestMedium1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 700;
    src: url('../fonts/OnestBold1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 800;
    src: url('../fonts/OnestExtraBold1602-hint.ttf');
}

@font-face {
    font-family: Onest;
    font-weight: 900;
    src: url('../fonts/OnestBlack1602-hint.ttf');
}