@import "variables";

.header {
    font-weight: 500;

    &.top-bar {
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        gap: 20px;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: $superwhite;
        z-index: 10;
        margin: auto;

        &.main {
            max-width: 1280px;
            padding: 0;
            gap: 12px;
            white-space: nowrap;

            @include media-breakpoint-down(xxl) {
                min-width: 100%;
            }
        }

        @include media-breakpoint-down(sm) {
            gap: 8px;
        }
    }

    &.small-city-selection {
        display: flex;
        gap: 8px;
        color: $grey4;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        align-items: center;

        .icon {
            width: 16px;
            height: 16px;
            background-color: $grey4;

            &.arrow-tailless {
                rotate: 180deg;
                width: 12px;
                height: 7px;
            }
        }
    }

    &.vertical-content {
        display: flex;
        justify-content: space-between;

        &:first-child {
            border-bottom: 1.5px solid $grey1;
            padding-bottom: 12px;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &.small-links {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        display: flex;
        gap: 24px;

        a {
            color: $grey4;
        }
    }

    &.top-bar-small {
        padding: 0;
        display: none;

        @include media-breakpoint-up(md) {
            display: grid;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &.top-bar-half {
        display: flex;
        font-size: 14px;
        gap: 24px;
        align-items: center;

        @include media-breakpoint-down(md) {
            font-size: 12px;
            gap: 12px;
        }

        @include media-breakpoint-down(sm) {
            gap: 10px;
        }

        @include media-breakpoint-up(md) {
            min-height: 48px;
        }

        @include media-breakpoint-up(xl) {
            gap: 32px;
        }
    }

    &.links-container {
        display: none;
        flex-direction: row;
        align-self: center;
        gap: 16px;

        @include media-breakpoint-up(md) {
            display: flex;
        }

        @include media-breakpoint-up(lg) {
            gap: 24px;
        }

        @include media-breakpoint-up(xl) {
            gap: 32px;
        }

        a {
            display: none;
            font-weight: 500;

            @include media-breakpoint-up(md) {
                display: flex;
                align-items: center;
                gap: 0;
            }

            &[current="1"] {
                text-decoration-line: underline;
                text-decoration-color: $orange1;
                text-decoration-thickness: 2px;
                text-underline-offset: 8px;
            }

            &:hover {
                color: $orange1;
            }
        }
    }

    &.city-flex {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        justify-content: start;
        gap: 4px;
        cursor: pointer;
        color: $grey4;
        font-size: 14px;

        .icon {
            visibility: hidden;
            width: 20px;
            height: 20px;
        }

        &.selected {
            color: $black1;

            .icon {
                visibility: visible;
                background-color: $orange1;
            }
        }

        @include media-breakpoint-up(md) {
            gap: 8px;
        }

        @include media-breakpoint-up(lg) {
            width: fit-content;
            max-width: 200px;
        }

        &.current {
            margin-right: 16px;

            .icon {
                background-color: $orange1;
            }

            @include media-breakpoint-up(md) {
                display: none;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    &.contacts-container {
        display: grid;
        gap: 2px;
        margin: 0;
        justify-items: end;
        height: 32px;
        align-items: center;

        &>a {
            color: inherit;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &.site-logo {
        width: 32px;
        height: 32px;

        @include media-breakpoint-up(md) {
            width: 48px;
            height: 48px;
        }

        @include media-breakpoint-up(xl) {
            width: 56px;
            height: 56px;
        }

        img {
            width: inherit;
            height: inherit;
        }
    }

    &.phone {
        font-size: 14px;
        margin: inherit;
        cursor: pointer;

        &:active {
            color: $orange1;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes slideUp {
        from {
            transform: translateY(0%);
        }

        to {
            transform: translateY(-100%);
        }
    }

    &.round-button {
        border-radius: 50%;
        background-color: $white;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        position: relative;

        .icon {
            width: 16px;
            height: 16px;
        }
    }

    &.counter {
        position: absolute;
        border-radius: 6px;
        background-color: $orange1;
        color: $white;
        min-width: 12px;
        height: 14px;
        font-size: 10px;
        line-height: 10px;
        display: grid;
        justify-content: center;
        align-content: center;
        right: 0;
        top: 0;
        padding: 1px 4px;
        transform: translate(50%, -25%);
    }

    &.profile-buttons {
        display: flex;
        gap: 16px;
        position: relative;
    }

    &.fav-indicator {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $orange1;
        color: $white;
        font-size: 8px;
        justify-self: right;
        align-self: flex-start;
        justify-content: center;
        align-items: center;
        display: grid;
        transform: translateX(-50%);
    }

    &.like-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
    }
}

.header-ancor {
    overflow: hidden;
}