.loader-dots {
    &.base-container {
        display: none;
        gap: 4px;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
        order: 10000;
    }

    &.in-grid {
        @include media-breakpoint-up(md) {
            grid-column: span 2;
        }

        @include media-breakpoint-up(lg) {
            grid-column: span 3;
        }
    }

    &.dot {
        border-radius: 50%;
        background-color: $black1;
        min-height: 8px;
        min-width: 8px;
        max-height: 8px;
        max-width: 8px;
        opacity: 1;
        animation-delay: 0s;
        animation: dot-opacity 1s linear infinite;

        &:nth-of-type(2) {
            animation-delay: 0.33s;
        }

        &:nth-of-type(3) {
            animation-delay: 0.66s;
        }
    }

    @keyframes dot-opacity {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}