@import "variables";

.sub-menus {
    &.background {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 25;
        top: 0;
        cursor: pointer;
        display: none;
        padding: 0;
        left: 0;
        max-width: none;
    }

    &.top {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    &.header {
        display: grid;
        gap: 32px;
        justify-content: center;

        @include media-breakpoint-up(md) {
            gap: 24px;
        }

        @include media-breakpoint-up(lg) {
            gap: 28px;
        }

        @include media-breakpoint-up(xl) {
            gap: 36px;
        }

        @include media-breakpoint-up(xxl) {
            gap: 24px;
        }
    }

    &.close {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        cursor: pointer;
        background-color: $white;
        border-radius: 50%;
        padding: 8px;

        &>.action-close {
            width: 100%;
            height: 100%;
        }
    }

    &.title {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        font-weight: 500;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &.subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        display: grid;
        gap: 16px;

        //TODO: вспомнить где это надо
        &.short {
            white-space: nowrap;
            max-width: 200px;
            max-height: 22px;
        }
    }

    &.description {
        font-size: 14px;
        line-height: 20px;
        color: $grey4;
        width: 100%;
        font-weight: 400;
    }

    &.card {
        position: absolute;
        background-color: $superwhite;
        color: $black1;
        border-radius: 32px;
        top: 50%;
        gap: 24px;
        display: grid;
        border-color: $grey2;
        transform: translate(0%, -50%);
        cursor: auto;
        padding: 32px;
        width: 400px;
        justify-self: center;

        &.city-selection {
            $base: 64px;
            top: $base;
            align-self: start;
            transform: translate(0%, 0%);

            @include media-breakpoint-up(md) {
                width: 348px;
                top: calc($base + 68px);
            }

            @include media-breakpoint-up(lg) {
                top: calc($base + 24px);
            }

            @include media-breakpoint-up(xl) {
                top: calc($base + 32px);
            }

            @include media-breakpoint-up(xxl) {
                top: calc($base + 24px);
            }
        }

        max-width: calc(100% - 16px);

        &.fit-content {
            min-width: 400px;
            width: fit-content;
        }
    }

    &.form {
        display: grid;
        gap: 32px;
        border-color: $grey2;
    }

    &.container {
        display: grid;
        gap: 40px;
    }

    &.inputs {
        display: grid;
        gap: 16px;
    }

    &.top-half {
        display: grid;
        gap: 16px;
    }

    &.chart-card {
        display: grid;
        gap: 8px;
    }
}

.city-selection {
    &.buttons {
        display: grid;
        gap: 16px;
        width: 100%;
    }

    $city-button-height: 48px;

    &.city-button {
        border-radius: calc($city-button-height/2);
        border-color: $grey2;
        border-width: 2px;
        color: $grey4;
        border-style: solid;
        padding-left: calc($city-button-height/2);
        padding-right: calc($city-button-height/2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: $city-button-height;
        font-size: 14px;
        cursor: pointer;

        &.active {
            border-color: $orange1;
            color: $orange1;
        }
    }
}

.infrastructure {
    &.title {
        font-size: 20px;
        line-height: 24px;

        @include media-breakpoint-up(sm) {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &.card {
        background-color: $white;
        color: $black1;
        border-radius: 32px;
        padding: 24px;
        gap: 32px;
        position: absolute;
        top: 50%;
        transform: translate(0%, -60%);
        width: calc(100% - 48px);
        margin: 24px;

        @include media-breakpoint-up(md) {
            border-radius: 40px;
            padding: 40px;
            margin: 40px;
            width: calc(100% - 80px);
        }

        @include media-breakpoint-up(lg) {
            width: 33%;
        }
    }

    &.container {
        display: grid;
        gap: 32px;

        &>.top {
            &>.header {
                display: flex;
                gap: 12px;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    &.close {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
    }

    &.menu {
        &.container {
            background-color: $white;
            border-radius: 56px;
            padding: 40px;
            display: flex;
            gap: 40px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &.title {
            font-size: 24px;
        }

        &.icon-container {
            background-color: $grey0;
            border-radius: 50%;
            min-height: inherit;
            min-width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.text-with-icon {
            display: flex;
            gap: 16px;
            align-items: center;
            min-width: 44px;
            min-height: 44px;
        }

        &.items {
            display: flex;
            gap: 16px;
            flex-direction: column;
            width: 100%;
            color: $grey4;
            font-weight: 400;
        }

        &.bottom-buttons {
            display: flex;
            height: 48px;
            gap: 12px;
        }

        &.item {
            cursor: pointer;
            font-size: 16px;
            gap: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &.orange {
                color: $black1;

                .icon:not(.check) {
                    background-color: $superwhite;
                }

                .icon-container {
                    &[iconType=metro] {
                        background-color: $infra-icon-metro;
                    }

                    &[iconType=school] {
                        background-color: $infra-icon-school;
                    }

                    &[iconType=kids] {
                        background-color: $infra-icon-kindergarden;
                    }

                    &[iconType=park] {
                        background-color: $infra-icon-park;
                    }

                    &[iconType=shop] {
                        background-color: $infra-icon-shop;
                    }

                    &[iconType=sport] {
                        background-color: $infra-icon-sport;
                    }

                    &[iconType=health] {
                        background-color: $infra-icon-health;
                    }
                }
            }

            &>.check {
                visibility: hidden;
                background-color: $black1;
            }
        }

        &.button {
            border-radius: 40px;
            border-width: 2px;
            border-color: $grey2;
            border-style: solid;
            color: $grey4;
            height: inherit;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;

            &.orange {
                border-color: $orange1;
                background-color: $orange1;
                color: $white;
            }
        }
    }
}

.site-menu-compact {
    color: $black1;
    background-color: $white;

    &.container {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        justify-content: space-between;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.header {
        height: 88px;
        display: flex;
        padding: 20px 16px;
        justify-content: space-between;
        gap: 20px;

        @include media-breakpoint-up(md) {
            gap: 32px;
            padding: 20px 40px;
        }

        @include media-breakpoint-up(lg) {
            height: 96px;
            gap: 40px;
        }
    }

    &.phone {
        font-size: 20px;
        margin: inherit;
        cursor: pointer;
        white-space: nowrap;
        line-height: 30px;

        @include media-breakpoint-up(lg) {
            font-size: 24px;
            line-height: 34px;
        }
    }

    &.schedule {
        font-size: 11px;
        margin: inherit;
        color: $grey4;
        white-space: nowrap;
        line-height: 20px;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

    &.info {
        display: flex;
        gap: 24px;
        align-items: center;

        @include media-breakpoint-up(sm) {
            gap: 24px;
        }

        @include media-breakpoint-up(md) {
            gap: 32px;
        }

        @include media-breakpoint-up(lg) {
            gap: 40px;
        }
    }

    &.close-button {
        background-color: $superwhite;
        border-radius: 24px;
        display: flex;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 56px;
        cursor: pointer;
    }

    &.body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: auto;
        padding: 20px 0;

        @include media-breakpoint-up(sm) {
            padding: 48px 0;
        }

        @include media-breakpoint-up(md) {
            padding: 64px 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 80px 0;
        }
    }

    .divider {
        color: $grey4;
        margin: 0px 16px;
        width: initial;

        @include media-breakpoint-up(sm) {
            margin: 0px 20px;
        }

        @include media-breakpoint-up(md) {
            margin: 0px 40px;
        }
    }

    &.menu {
        display: grid;
        gap: 24px;
        height: inherit;

        @include media-breakpoint-up(sm) {
            gap: 48px;
        }

        @include media-breakpoint-up(md) {
            gap: 64px;
        }

        @include media-breakpoint-up(lg) {
            gap: 80px;
        }
    }

    &.item {
        font-size: 16px;
        font-weight: 500;
        justify-self: center;
        text-align: center;
        line-height: 26px;

        @include media-breakpoint-up(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 32px;
        }

        a {
            color: $white;
        }

        &.selected {
            color: $orange1;
        }
    }

    &.footer {
        height: 88px;
        display: flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: $grey3;
        font-weight: 400;

        @include media-breakpoint-up(sm) {
            font-size: 14px;
        }

        @include media-breakpoint-up(md) {
            padding: 16px 40px;
            font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
            padding: 22px 40px;
            font-size: 16px;
        }
    }
}

.menu-mobile {
    &.menu {
        display: none;
        background-color: $grey0;
        border-left: 2px solid $black1;
        height: 100%;
        position: fixed;
        top: 0px;
        z-index: 20;
        justify-self: right;
        padding-left: 16px;
        padding-right: 16px;
        transform: translateX(100%);

        @include media-breakpoint-down(xl) {
            display: block;
        }
    }

    &.container {
        display: grid;
        gap: 16px;

        a:hover {
            color: $orange1;
        }

        &.selected {
            text-decoration-line: underline;
            text-decoration-color: $orange1;
            text-decoration-thickness: 2px;
            text-underline-offset: 8px;
        }
    }

    &.close-button {
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 56px;
        cursor: pointer;
        justify-self: right;
        justify-content: right;
    }

    @keyframes slideLeft {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0%);
        }
    }

    @keyframes slideRight {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(100%);
        }
    }
}

.profile-menu {
    color: $black1;

    &.container {
        border-radius: 32px;
        width: 500px;
        background-color: $superwhite;
        display: none;
        gap: 40px;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 40px;
        z-index: 10;
        box-shadow: $common-shadow;
        max-width: calc(100vw - 32px);
    }

    &.header {
        display: grid;
        gap: 20px;
        font-size: 16px;
    }

    &.title-with-close {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.sub-menus.close {
            background-color: $white;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-items: center;

            .action-close {
                width: 16px;
                height: 16px;
                min-width: 16px;
                min-height: 16px;
            }
        }
    }

    &.title {
        font-size: 14px;
        font-weight: 400;
        color: $grey4;
    }

    &.menu-content {
        display: grid;
        gap: 16px;
    }

    &.item {
        display: flex;
        gap: 16px;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        cursor: pointer;
    }
}