.paginator {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.parent {
        grid-column: span 1;

        @include media-breakpoint-up(md) {
            grid-column: span 2;
        }

        @include media-breakpoint-up(lg) {
            grid-column: span 3;
        }
    }

    &.base-container {
        gap: 24px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &.full-width {
            width: 100%;
            justify-content: space-between;

            .loader-dots {
                order: unset;
                margin: 0;
                display: none;
            }

            .text-button:not(#show-all-paginator) {
                height: 40px;
                width: 40px;
                max-height: 40px;
                max-width: 40px;
                min-height: 40px;
                min-width: 40px;
                padding: 0;

                .icon {
                    height: 16px;
                    width: 16px;
                    max-height: 16px;
                    max-width: 16px;
                    min-height: 16px;
                    min-width: 16px;
                }

                &.disabled {
                    .icon {
                        background-color: $grey3;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                display: grid;
                justify-content: center;

                .text-button[id=show-all-paginator] {
                    display: grid;
                    width: fit-content;
                    justify-self: center;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }
        }
    }

    &.buttons-grid {
        display: flex;
        align-items: center;
        gap: 1px;

        @include media-breakpoint-down(md) {
            width: 100%;
            justify-content: center;
        }
    }

    &.page-button {
        color: $black1;
        background-color: $superwhite;
        font-weight: 400;
        font-size: 14px;
        padding: 8px 16px;
        min-width: 40px;
        width: 40px;
        max-width: 40px;
        min-height: 40px;
        height: 40px;
        max-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        border-left-style: 1px $grey2 solid;
        border-right-style: 1px $grey2 solid;

        &:not([style*="display: none"]):first-of-type {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        &:not([style*="display: none"]):last-of-type {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        &.hidden {
            display: none;
        }

        &.current {
            background-color: $orange1;
            color: $white;
        }
    }

    &.text-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 16px;
        color: $black1;
        background-color: $superwhite;
        font-weight: 400;
        font-size: 14px;
        min-height: 40px;
        height: 40px;
        max-height: 40px;
        border: none;

        @include media-breakpoint-down(lg) {
            display: none;
        }

        &.disabled {
            color: $grey3;
        }
    }

    &.link {
        color: inherit;
    }
}