.thanks-for-contacts {
    &.text {
        color: $black1;
        text-align: center;
        font-size: 20px;

        @include media-breakpoint-up(md) {
            font-size: 32px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 40px;
        }
    }

    &.background {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 20;
        visibility: hidden;
    }

    &.card {
        position: absolute;
        background-color: $superwhite;
        display: grid;
        gap: 16px;
        padding: 32px;
        border-radius: 32px;
        width: 400px;
        align-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media-breakpoint-down(md) {
            max-width: calc(100vw - 32px);
        }
    }

    &.close {
        justify-self: right;
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
    }

    &.success {
        font-size: 20px;
        color: $orange1;
        text-align: center;
        display: none;
    }

    &.failure {
        display: none;
        gap: 32px;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        color: $grey4;

        &.header {
            padding-left: 120px;
        }
    }

    &.error {
        display: grid;
        gap: 12px;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        color: $black1;
        font-weight: 500;
    }

    &.error-icon {
        width: 52px;
        height: 52px;
        background-color: $error;
        border-radius: 50%;
        padding: 16px;
        justify-self: center;
        margin-top: 0;
        align-self: auto;
    }

    &.title {
        display: flex;
        justify-content: space-between;
    }
}