.static-custom-dropdown {
    font-size: 14px;
    font-weight: 400;
    
    &>:not(input) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.container {
        $horizontalOffset: 24px;
        $horizontalOffsetSmall: 16px;
        border-radius: 16px;
        border-color: $grey2;
        border-width: 1.5px;
        border-style: solid;
        position: relative;
        cursor: pointer;

        div.title {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }
    }

    &.select-header {
        display: grid;
        grid-template-columns: calc(100% - 32px) 1fr;
        justify-content: space-between;
        width: 100%;
        padding: 24px;
    }

    &.title {
        $lineHeight: 20px;
        background-color: white;
        font-size: 14px;
        color: $black1;
        position: absolute;
        line-height: $lineHeight;
        top: calc($lineHeight/2*-1);
        padding: 0 16px;
        margin: 0 12px;
    }

    &>.icon {
        width: 14px;
        height: 8px;
        transform: rotate(180deg);
        z-index: 6;
        top: 6px;
        position: relative;
    }

    &.placeholder {
        color: $grey3;
    }

    &.base-container {
        position: relative;
        overflow: hidden;
        background-color: white;
        gap: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        max-height: 0;
        display: grid;
        grid-column: span 2;
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;

        :last-child {
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }

    &.item {
        padding: 12px 16px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $grey2;
        font-weight: 400;
        cursor: pointer;
        background-color: white;
        z-index: 10;
        box-shadow: $common-shadow;
        
        :hover {
            background-color: $white;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }

    &.item-container {
        padding: 12px 16px;
        border-radius: 24px;       
    }

    &.selected-content {
        color: $black1;
    }
}