::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $orange1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb:horizontal {
    background: $orange1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
}