.search-catalogue {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &>:not(input) {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.base-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 16px 16px;

        @include media-breakpoint-up(lg) {
            padding: 16px 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0;//16px 16px;
        }

        @include media-breakpoint-down(lg) {
            position: fixed;
            background-color: $white;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 40;
            margin: 0;
            gap: 32px;
            overflow-y: auto;
            display: none;
        }

        .menu-header {
            display: flex;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        @include media-breakpoint-down(lg) {
            .section-header {
                display: none;
            }
        }

        &.shown {
            @include media-breakpoint-down(lg) {
                display: flex;
            }
        }
    }

    &.bottom-buttons {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        gap: 24px;

        .filter-bubble.base-container {
            display: flex;
        }

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        input[type=submit] {
            min-width: 220px;
            width: fit-content;

            @include media-breakpoint-down(lg) {
                display: flex;
                width: 100%;
            }
        }

        *[id=show-filters-menu],
        *[id=catalogue-map-button] {
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &>.common-button {
            padding: 10px 32px;
            width: fit-content;
            height: 48px;
            margin-top: 48px;

            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }

    &.dropdown {
        &.container {
            $horizontalOffset: 24px;
            $horizontalOffsetSmall: 16px;

            display: grid;
            grid-template-columns: 1fr auto auto;
            padding: 24px $horizontalOffset;
            justify-content: space-between;
            border-radius: 16px;
            border-color: $grey2;
            border-width: 1.5px;
            border-style: solid;
            position: relative;
            cursor: pointer;

            &:focus {
                border-color: $orange1;
            }

            .filter.counter {
                translate: 0 -2px;
            }

            &>.custom-dropdown.base-container.open {
                padding: 0;
                background-color: $white;
                box-shadow: $common-shadow;
                align-self: flex-start;
                margin-left: calc(-1 * $horizontalOffsetSmall/2);
                width: calc(100% + $horizontalOffsetSmall/2);
                max-width: calc(100% + $horizontalOffsetSmall/2);
                min-width: calc(100% + $horizontalOffsetSmall/2);
                z-index: 8;
                gap: 0;

                @include media-breakpoint-up(lg) {
                    translate: calc($horizontalOffset - 4px) 0;
                    width: calc(100% - $horizontalOffset);
                    max-width: calc(100% - $horizontalOffset);
                    min-width: calc(100% - $horizontalOffset);
                }
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        &.title {
            $lineHeight: 20px;

            font-size: 14px;
            color: $black1;
            position: absolute;
            line-height: $lineHeight;
            top: calc($lineHeight/2*-1);
            background-color: $white;
            padding: 0 12px;
            margin-left: 12px;
        }

        &>.arrow-tailless {
            width: 14px;
            height: 8px;
            transform: rotate(180deg);
            z-index: 6;
            top: 6px;
            position: relative;
        }

        &.placeholder {
            color: $grey3;
            white-space: nowrap;
            margin-right: -4px;
            height: fit-content;
        }
    }

    &.container {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(1, minmax(0, 1fr));

        @include media-breakpoint-up(lg) {
            gap: 16px;
            grid-auto-rows: 70px;
            grid-template-rows: 70px;
            grid-template-columns: 7fr 4fr 4fr;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: 10fr 4fr 4fr;
        }

        &>.text-search {
            border-radius: 16px;
            border-color: $grey2;
            border-width: 1.5px;
            border-style: solid;
            padding: 20px 20px;
            max-height: initial;

            &.selected {
                grid-template-columns: span 3;
                border-color: $grey2;
            }

            &>.custom-dropdown.base-container[id=names-filter-dropdown] {
                background-color: $white !important;
                z-index: 7;
                font-size: 14px;
                width: 100%;
                min-width: 0;
                max-width: calc(100% - 24px);
                translate: 12px 0;
            }
        }

        fieldset {
            height: initial;
            width: initial;

            legend {
                margin-left: 4px;
            }

            @include media-breakpoint-up(lg) {
                margin-top: -8px;

                &#floor-min-max-range,
                &#area-min-max-range,
                &#kitchen-area-min-max-range {
                    display: none;
                }
            }

            @include media-breakpoint-down(lg) {
                height: 96px;

                legend {
                    padding: 0;
                    margin: 0;
                    translate: -4px -20px;
                    width: 0;
                    margin-top: 16px;
                }
            }
        }

        &.secondary {
            display: grid;
            grid-auto-rows: 48px;
            grid-template-rows: 48px;
            grid-template-columns: repeat(1, minmax(0, 1fr));

            &>* {
                order: initial;
            }

            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include media-breakpoint-up(lg) {
                display: none;
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @include media-breakpoint-up(xl) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }

            .dropdown.title {
                display: none;
            }

            //Надо только для работы слайдеров
            *[id=filter-price] {
                display: none;
            }

            &>.dropdown.container {
                padding-top: 14px;
                padding-bottom: 14px;

                &>.open {
                    &>.price-dropdown {
                        &.base-container {
                            padding: 16px;

                            &:nth-child(1) {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}