.icon {
    &.disabled {
        background-color: $grey3;
    }

    &.black {
        background-color: $black1;
    }

    &.orange {
        background-color: $orange1;
    }

    &.white {
        background-color: $white;
    }

    &.superwhite {
        background-color: $superwhite;
    }

    &.grey1 {
        background-color: $grey1;
    }

    &.grey2 {
        background-color: $grey2;
    }

    &.grey3 {
        background-color: $grey3;
    }

    &.grey4 {
        background-color: $grey4;
    }

    &.grey5 {
        background-color: $grey5;
    }

    &.transparent-background {
        background-color: transparent;
    }

    &.red {
        background-color: $error;
    }

    &.green {
        background-color: #00BF65;
    }
}