.icon {
    &.d4x4 {
        width: 4px;
        height: 4px;
    }

    &.d12x12 {
        width: 12px;
        height: 12px;
    }

    &.d16x16 {
        width: 16px;
        height: 16px;
    }

    &.d20x20 {
        width: 20px;
        height: 20px;
    }

    &.d24x24 {
        width: 24px;
        height: 24px;
    }

    &.d28x28 {
        width: 24px;
        height: 24px;
    }

    &.d40x40 {
        width: 40px;
        height: 40px;
    }

    &.d44x44 {
        width: 44px;
        height: 44px;
    }

    &.d72x72 {
        width: 72px;
        height: 72px;
    }

    &.d-inherit {
        width: inherit;
        height: inherit;
    }

    &.p50x50 {
        width: 50%;
        height: 50%;
    }
}